
<div class="login is-hidden">
  <div class="login__background" onclick="hideLoginFloat()"></div>
  <div class="login__card card">
    <div class="card__title text-md is-bold">
      <p>Accedeix al teu compte:</p>
    </div>
    <div class="card__close" onclick="hideLoginFloat()">
      <span>✖</span>
    </div>
    <div class="login__form form">
      {% if login_form.errors %}
      <div class="form__error">
          <p>Usuari i/o contrasenya incorrectes. Si us plau torna-ho a intentar.</p>
      </div>
      {% endif %}
      <form method="post" action="{% url 'login_post' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}">
        {% csrf_token %}
        {{ login_form.as_ul }}
        <a href="{% url 'password_reset' %}">
          <div class="form__remember">
            Has oblidat la contrasenya?
          </div>
        </a>
        <input class="form__submit btn btn--second btn__text" type="submit" value="Accedir" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
    <div class="login__signup">
      <div class="login__signup-text text-menu">
        <p>Ets nou?</p>
      </div>
      <div class="login__signup-btn">
        <a href="{% url 'loginsignup' %}">
          <div class="btn btn--primary">
            <div class="btn__text">
              Crear un compte
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>