// Dynamic variables
.courses-list {
  --padding-page: var(--pad1) var(--pad1) var(--pad2) var(--pad1);
  --display: flex;

  &__grid {
    --margin: 0;
    --padding-top: 0;
    --gap: var(--pad1);
  }
  &__sorting .form {
    --display: block;
  }
  &__message {
    --justify-content: center;
  }
}

@media (min-width: 900px) {
  .courses-list {
    --padding-page: var(--pad2) 0 var(--pad4) 0;
    --display: grid;

    &__grid {
      --margin: 0 var(--pad4-5);
      --padding-top: var(--pad1);
      --border: 1px solid var(--primary-lighter);
      --gap: var(--pad4) var(--pad1);
    }
    &__sorting .form {
      --display: grid;
      --margin-top: 0;
    }
    &__message {
      --justify-content: flex-start;
    }
  }
}

// Layout
.courses-list {
  height: 100%;
  padding: var(--padding-page);
  background-color: var(--second-3);

  &__message {
    display: flex;
    justify-content: var(--justify-content);
    padding-bottom: var(--pad2);

    .message {
      max-width: 500px;
    }
    .text-md {
      color: var(--primary);
    }
  }
  &__submenu {
    margin-bottom: var(--pad3);
  }
  &__grid {
    display: var(--display);
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: var(--margin);
    padding-top: var(--padding-top);
    border-top: var(--border);

    & + .courses-list__grid {
      .courses-list__subtitle {
        padding: var(--pad2) 0 var(--pad1) 0;
      }
    }
  }
  &__subtitle {
    width: 100%;
    color: var(--primary);
    padding: 0 0 var(--pad1) 0;
  }
  &__options {
    margin-bottom: var(--pad3);
  }
  &__view {
    padding-bottom: var(--pad-2);
    grid-column: 5 / span 2;
    grid-row: 1;
  }
  &__sorting {
    grid-row: 1;
    grid-column: 1 / span 4;

    .sorting__title {
      grid-row: 1;
      grid-column: 3;
    }

    .form {
      display: var(--display);
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .sorting__field {
      grid-row: 2;
      grid-column: 3 / span 2;

      select {
        height: 50px;
      }
    }
    .form__submit {
      grid-row: 2;
      grid-column: 1;
      margin-top: var(--margin-top);
      
      button {
        height: 50px;
      }
    }
  }
  &__filter {
    grid-column: 1 / span 6;
  }
  .filter__btn {
    grid-column: 1;
    grid-row: 1;
  }
  // &__calendar { }
}

// Diferències per llistat my courses
.my-courses-list.courses-list  {
  .courses-list__grid {
    border-top: none;
  }
  .courses-list__subtitle {
    grid-column: 1 / span 2;
  }
}