// Dynamic variables
.home {
  .welcome {
    &__content {
      --flex-direction: column;
      --justify-content: center;
      --align-items: center;
      --padding: var(--pad2) var(--pad1);
      --height: 450px;

      .welcome__logo {
        --display: block;
        --width: var(--pad9)
      }
      .welcome__btns {
        --display: none;
      }

      &.is-logged {
        --justify-content: flex-start;
        --align-items: center;
        --padding: var(--pad1);
        --height: auto;

        .welcome__logo {
          --display: none;
        }
        .title-1 {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .home {
    .welcome {
      &__content {
        --flex-direction: row;
        --justify-content: center;
        --align-items: center;
        --padding: 0;
        --height: 100vh;

        .welcome__logo {
          --display: block;
          --width: var(--pad9);
        }
        .welcome__btns {
          --display: flex;
        }

        &.is-logged {
          --justify-content: space-between;
          --align-items: flex-start;
          --padding:  var(--pad2) 0;
          --height: var(--pad8);
  
          .welcome__logo {
            --display: block;
            --width: var(--pad5);
          }
          .title-1 {
            font-size: 16px;
          }
        }
      }
    }
  }
}

// Layout
.home {
  // Secció de la portada sense login on arribes primer
  &__welcome {
    position: relative;
    background-color: var(--primary);
  }
  &__intro {
    background-color: var(--second-3);
  }

  .welcome {
    &__topbar {
      grid-column: 1 / span 6;
      grid-row: 1;
    }
    &__content {
      grid-column: 1 / span 6;
      grid-row: 1 / span 2;

      display: flex;
      flex-direction: var(--flex-direction);
      justify-content: var(--justify-content);
      align-items: var(--align-items);
      height: var(--height);
      padding: var(--padding);
      color: var(--white);
    }
    &__logo {
      display: var(--display);
      width: var(--width);
      height: auto;
    }
    &__text {
      width: var(--pad20);
      height: auto;
    }
    &__btns {
      display: var(--display);
      margin-top: -12px;
      color: var(--second-3);
    }
  }

  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
    padding: var(--pad2) 0;
    color: var(--white);
    z-index: 1;

    &__left {
      display: flex;
      gap: 0 var(--pad1-5);
      
      .btn {
        margin-top: calc(var(--pad1) * -1);
      }
    }
    &__right {
      display: flex;
      gap: 0 var(--pad1);
    }
  }

  .intro {
    color: var(--primary);
    border-bottom: 1px solid var(--primary-lightest);
    
    &__title {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: var(--pad4);
      padding-bottom: var(--pad8);
      border-bottom: 1px solid var(--primary-lightest);
    }
    &__bloc {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: var(--pad1);
      padding-bottom: var(--pad6);

      & + .intro__bloc {
        padding-left: var(--pad2);

        &::before {
          content: "";
          position: absolute;
          left: 0;
          height: 80%;
          width: 1px;
          background-color: var(--primary-lightest);
        }
      }
    }
    &__bloc-title {
      padding-bottom: var(--pad4);
    }
    &__bloc-text {
      padding-bottom: var(--pad6);
    }
    &__bloc-btn {
      align-self: center;
    }
  }
  .outro {
    padding-top: var(--pad8);
    padding-bottom: var(--pad9);

    &__item {
      display: flex;
      flex-direction: column;
    }
    &__text {
      color: var(--primary-dark);
    }
    &__btn {
      align-self: center;
      padding-top: var(--pad4);
    }
  }
  // TODO LOGIN inventat
  .login {
    position: absolute;
    right: 50px;
    top: 100px;
    border: 1px solid hsla(0, 0%, 100%, 0.3);
    padding: 10px;
    color: white;

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    .btn {
      align-self: flex-end;
      text-transform: uppercase;
    }
  }
}