// Dynamic variables
.poll {
  --padding-page: var(--pad1) var(--pad1) var(--pad2) var(--pad1);
  --display: flex;

  &__title {
    --padding-bottom: var(--pad4);
  }
  &__fieldset {
    --padding: var(--pad1) 0;
  }
  &__field {
    --grid-template-columns: 1fr 100px;
  }
  .field-text {
    --height: var(--pad6);
  }
  .form__submit {
    --align-self: stretch;
  }
}

@media (min-width: 900px) {
  .poll {
    --padding-page: var(--pad2) var(--pad4-5) var(--pad4) var(--pad4-5);
    --display: grid;

    &__title {
      --padding-bottom: var(--pad4);
    }
    &__fieldset {
      --padding: var(--pad1) 0;
    }
    &__field {
      --grid-template-columns: 1fr 107px;
    }
    .field-text {
      --height: var(--pad4);
    }
    .form__submit {
      --align-self: center;
    }
  }
}

// Layout
.poll {
  height: 100%;
  padding: var(--padding-page);
  max-width: 2000px;

  .grid-content {
    padding: var(--padding);
  }

  &__back {
    display: flex;
    align-items: center;
    gap: var(--pad-2);
    color: var(--second);
    margin-bottom: var(--pad-2);

    &::before {
      content: "<--";
    }
  }
  &__title {
    color: var(--primary);
    padding-bottom: var(--padding-bottom);
  }
  form {
    display: flex;
    flex-direction: column;
  }
  .form__submit {
    align-self: var(--align-self);
  }
  &__fieldset {
    padding: var(--padding);
    border-top: 2px solid var(--grey-light);
  }
  &__fieldset-title {
    color: var(--primary);
    padding-bottom: var(--pad2);
  }
  &__field {
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    gap: 0 var(--pad1-5);
  }
  &__field-label {
    grid-column: 1;
    padding-bottom: 12px;
  }
  .field-select {
    select {
      width: 100%;
      padding: var(--pad-2);
      background-color: var(--white);
      border-radius: var(--br);
      border: 3px solid var(--second-2);
      text-align: left;
      font-size: 14px;
      color: var(--primary-light);
      grid-column: 2;
      margin-bottom: var(--pad1);
    }
    &::after {
      top: 14px;
    }
  }
  .field-text {

    input[type="text"] {
      grid-column: 1 / span 2;
      width: 100%;
      height: var(--height);
      padding: var(--pad-2);
      margin-bottom: var(--pad1);
      background-color: var(--white);
      border-radius: var(--br);
      border: 3px solid var(--second-2);
      text-align: left;
      font-size: 14px;
  
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
      }
    }
  }
}