// Dynamic variables
.profile {
  --padding-profile: var(--pad-2);

  &__intro {
    --display: flex;
    --padding-intro: var(--pad4) 0 0 0;
    --margin-intro: 0 0 var(--pad1-5) 0;
    --text-align: center;
  }
  &__title {
    --max-width: 300px;
    --font-size: 35px;
    --line-height: 40px;
    --padding-bottom: var(--pad1);
  }
  &__info {
    --padding-bottom: var(--pad4);
  }
  &__image {
    --height: var(--pad4);
    --width: var(--pad4);
    // "Canvia la imatge" per desktop
    .profile__image-link {
      --display: none;
    }
  }
  &__links {
    // "Canvia la imatge" per mobile
    .profile__image-link {
      --display: block;
    }
    .profile__link {
      --padding: var(--pad2);
    }
  }
  &__form {
    --display-form-profile: flex;

    fieldset {
      --display-fieldset: flex;
    }
    form fieldset:nth-child(3){
      --padding: 0 var(--pad-2);
    }
    form fieldset:nth-child(4){
      --padding: var(--pad2) var(--pad-2);
      --margin: var(--pad1-5) 0 0 0;
    }
    .form__submit {
      --padding: 0 var(--pad-2);
    }
  }
}

@media (min-width: 900px) {
  .profile {
    --padding-profile: var(--pad2) 0 var(--pad8) 0;

    &__intro {
      --display: grid;
      --padding-intro: var(--pad4) 0 var(--pad6) 0;
      --margin-intro: 0 var(--pad4-5) var(--pad6) var(--pad4-5);
      --text-align: left;
    }
    &__title {
      --max-width: 500px;
      --font-size: 64px;
      --line-height: 64px;
      --padding-bottom: var(--pad2);
    }
    &__info {
      --padding-bottom: 0;
    }
    &__image {
      --height: var(--pad8);
      --width: var(--pad8);

      // "Canvia la imatge" per desktop
      .profile__image-link {
        --display: block;
      }
    }
    &__links {
      // "Canvia la imatge" per mobile
      .profile__image-link {
        --display: none;
      }
      .profile__link {
        --padding: var(--pad2) var(--pad2) var(--pad2) 0;
      }
    }
    &__form {
      --display-form-profile: grid;

      fieldset {
        --display-fieldset: grid;
      }
      form fieldset:nth-child(3){
        --padding: 0;
      }
      form fieldset:nth-child(4){
        --padding: var(--pad6) var(--pad4);
        --margin: var(--pad4) var(--pad8) var(--pad6) var(--pad8);
        }
      .form__submit {
        --padding: 0;
      }
    }
  }
}

// Layout
.profile {
    background-color: var(--second-3);
    padding: var(--padding-profile);

  &__intro {
    display: var(--display);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding-intro);
    margin: var(--margin-intro);
    border-bottom: 2px solid var(--primary-lightest);
    color: var(--primary);
  }
  &__image {
    grid-column: 5;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .image {
      height: var(--height);
      width: var(--width);
      margin-bottom: var(--pad1);
      background-color: var(--grey-light);
      border-radius: 50%;
      overflow: clip;
      box-shadow: 4px 6px 15px -5px var(--primary-lighter);
      
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
    .profile__image-link {
      display: var(--display);
      text-transform: uppercase;
      color: var(--second);
      cursor: pointer;
      
      &:hover {
        filter: brightness(1.5);
      }
    }
    input {
      display: none;
    }
  }
  &__title {
    grid-column: 2 / span 2;
    grid-row: 1;
    max-width: var(--max-width);
    font-size: var(--font-size);
    line-height: var(--line-height);
    text-align: var(--text-align);
    padding-bottom: var(--padding-bottom);
  }
  &__info {
    grid-column: 2 / span 2;
    grid-row: 2;
    padding-bottom: var(--padding-bottom);
    text-align: var(--text-align);
    color: var(--primary);
  }
  &__links {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .profile__link {
      padding: var(--padding);
      font-weight: normal;
      color: var(--second);
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        filter: brightness(1.5);
      }
    }
    // "Canvia la imatge" per mobile
    .profile__image-link {
      display: var(--display);
      text-transform: uppercase;
      color: var(--second);
    }
  }
  &__form {
    &.form {
      display: block;
    }
    form {
      &.grid-content {
        display: var(--display-form-profile);
        grid-template-columns: repeat(6, 1fr);
        gap: 0 var(--pad1);
      }
      // Fieldset fotografia amagat
      & fieldset:nth-child(2){
        display: none;
      }
      & fieldset:nth-child(3){
        grid-column: 2 / span 4;
        display: var(--display-fieldset);
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--pad1);
        padding: var(--padding);
      }
      & fieldset:nth-child(4){
        grid-column: 1 / span 6;
        display: var(--display-fieldset);
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--pad1);
        padding: var(--padding);
        margin: var(--margin);
        background-color: var(--primary-2);
        border-radius: var(--br);
      }
    }
    .form__submit {
      padding: var(--padding);
      .grid-item-wide {
        display: flex;
        flex-direction: column;
      }
      button {
        align-self: center;
      }
    }
  }
}