// Dynamic variables
.profile {
  --padding-profile: var(--pad1);

  &__intro {
    --display: flex;
    --padding-intro: var(--pad4) 0 0 0;
    --margin-intro: 0 0 var(--pad1-5) 0;
    --text-align: center;
  }
  &__title {
    --max-width: 300px;
    --font-size: 35px;
    --line-height: 40px;
    --padding-bottom: var(--pad1);
  }
  &__info {
    --padding-bottom: var(--pad4);
  }
  &__image {
    --height: var(--pad4);
    --width: var(--pad4);
    // "Canvia la imatge" per desktop
    .profile__image-link {
      --display: none;
    }
  }
  &__links {
    // "Canvia la imatge" per mobile
    .profile__image-link {
      --display: block;
    }
    .profile__link {
      --padding: var(--pad2);
    }
  }
  &__form {
    .form {
      form {
        --display-form: flex;

      // Nom
      & li:nth-child(3) {
        order: 1;
      }
      // Email
      & li:nth-child(4) {
        order: 7;
      }
      // Cognom
      & li:nth-child(5) {
        order: 2;
      }
      // Phone
      & li:nth-child(6) {
        order: 8;
      }
      // Segon cognom
      & li:nth-child(7) {
        order: 3;
      }
      // dob
      & li:nth-child(8) {
        order: 9;
      }
      // dni
      & li:nth-child(9) {
        order: 4;
      }
      // lloc naixement
      & li:nth-child(10) {
        order: 10;
      }
      // NO dni
      & li:nth-child(11) {
        order: 5;
      }
      // poblacio
      & li:nth-child(12) {
        order: 11;
      }
      // genere
      & li:nth-child(13) {
        order: 6;
      }
      // adreça
      & li:nth-child(14) {
        order: 12;
      }
      // estudis
      & li:nth-child(15) {
        order: 13;
      }
      // conegut
      & li:nth-child(16) {
        order: 15;
      }
      // laboral
      & li:nth-child(17) {
        order: 14;
      }
      // ess
      & li:nth-child(18) {
        order: 16;
      }
      }
    }
  }
}

@media (min-width: 900px) {
  .profile {
    --padding-profile: var(--pad2) 0 var(--pad8) 0;

    &__intro {
      --display: grid;
      --padding-intro: var(--pad4) 0 var(--pad6) 0;
      --margin-intro: 0 var(--pad4-5) var(--pad6) var(--pad4-5);
      --text-align: left;
    }
    &__title {
      --max-width: 500px;
      --font-size: 64px;
      --line-height: 64px;
      --padding-bottom: var(--pad2);
    }
    &__info {
      --padding-bottom: 0;
    }
    &__image {
      --height: var(--pad8);
      --width: var(--pad8);

      // "Canvia la imatge" per desktop
      .profile__image-link {
        --display: block;
      }
    }
    &__links {
      // "Canvia la imatge" per mobile
      .profile__image-link {
        --display: none;
      }
      .profile__link {
        --padding: var(--pad2) var(--pad2) var(--pad2) 0;
      }
    }
    &__form {
      .form {
        form {
          --display-form: grid;
          // Nom
          & li:nth-child(3) {
            order: initial;
          }
          // Email
          & li:nth-child(4) {
            order:  initial;
          }
          // Cognom
          & li:nth-child(5) {
            order:  initial;
          }
          // Phone
          & li:nth-child(6) {
            order:  initial;
          }
          // Segon cognom
          & li:nth-child(7) {
            order:  initial;
          }
          // dob
          & li:nth-child(8) {
            order:  initial;
          }
          // dni
          & li:nth-child(9) {
            order:  initial;
          }
          // lloc naixement
          & li:nth-child(10) {
            order:  initial;
          }
          // NO dni
          & li:nth-child(11) {
            order:  initial;
          }
          // poblacio
          & li:nth-child(12) {
            order:  initial;
          }
          // genere
          & li:nth-child(13) {
            order:  initial;
          }
          // adreça
          & li:nth-child(14) {
            order:  initial;
          }
          // estudis
          & li:nth-child(15) {
            order:  initial;
          }
          // conegut
          & li:nth-child(16) {
            order:  initial;
          }
          // laboral
          & li:nth-child(17) {
            order:  initial;
          }
          // ess
          & li:nth-child(18) {
            order:  initial;
          }
        }
      }
    }
  }
}

// Layout
.profile {
    background-color: var(--second-3);
    padding: var(--padding-profile);

  &__intro {
    display: var(--display);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding-intro);
    margin: var(--margin-intro);
    border-bottom: 2px solid var(--primary-lightest);
    color: var(--primary);
  }
  &__image {
    grid-column: 5;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .image {
      height: var(--height);
      width: var(--width);
      margin-bottom: var(--pad1);
      background-color: var(--grey-light);
      border-radius: 50%;
      overflow: clip;
      box-shadow: 4px 6px 15px -5px var(--primary-lighter);
      
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .profile__image-link {
      display: var(--display);
      text-transform: uppercase;
      color: var(--second);
    }
    input {
      display: none;
    }
  }
  &__title {
    grid-column: 2 / span 2;
    grid-row: 1;
    max-width: var(--max-width);
    font-size: var(--font-size);
    line-height: var(--line-height);
    text-align: var(--text-align);
    padding-bottom: var(--padding-bottom);
  }
  &__info {
    grid-column: 2 / span 2;
    grid-row: 2;
    padding-bottom: var(--padding-bottom);
    text-align: var(--text-align);
    color: var(--primary);
  }
  &__links {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .profile__link {
      padding: var(--padding);
      font-weight: normal;
      color: var(--second);
      text-transform: uppercase;
      cursor: pointer;
    }
    // "Canvia la imatge" per mobile
    .profile__image-link {
      display: var(--display);
      text-transform: uppercase;
      color: var(--second);
    }
  }
  &__form {
    .form {
      display: flex;
      flex-direction: column;

      form {
        display: var(--display-form);
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
      }
      // Camp fotografia amagat
      & li:nth-child(2).field-file {
        display: none;
      }
    }
    .form__submit {
      align-self: center;
      margin: var(--pad3) 0;
    }
  }
}