// Dynamic variables
.signup {
  --padding-signup: var(--pad1);
}

@media (min-width: 900px) {
  .signup {
    --padding-signup: var(--pad8) 0;
  }
}

// Layout
.signup {
  padding: var(--padding-signup);
  background-color: var(--second-3);

  &__welcome {
    width: 100%;
    p {
      padding-bottom: var(--pad4-5);
      color: var(--primary);
    }
  }
  &__form {
    .form {
      // Email
      & li:nth-child(5) {
        grid-column: 1;
        grid-row: 3;
      }
      // DNI
      & li:nth-child(6) {
        grid-column: 2;
        grid-row: 2;
      }
      // Acepto rebre info
      & li:nth-child(19) {
        align-self: flex-end;
        margin-top: 32px;
      }
    }
  }
}