// Dynamic variables
.signup {
  --padding-signup: var(--pad1);
  --margin-top: 0;
  --align-self: flex-start;
  
  .form {
    --display: flex;
    
    & li:nth-child(2) {
      --order: 1;
    }
    & li:nth-child(3) {
      --order: 2;
    }
    & li:nth-child(4) {
      --order: 3;
    }
    // Email
    & li:nth-child(5) {
      --order: 4;
    }
    & li:nth-child(6) {
      --order: 5;
    }
    & li:nth-child(7) {
      --order: 6;
    }
    & li:nth-child(8) {
      --order: 7;
    }
    // DNI
    & li:nth-child(9) {
      --order: 8;
    }
    & li:nth-child(10) {
      --order: 9;
    }
    & li:nth-child(11) {
      --order: 10;
    }
    & li:nth-child(12) {
      --order: 11;
    }
    & li:nth-child(13) {
      --order: 12;
    }
    & li:nth-child(14) {
      --order: 13;
    }
    & li:nth-child(15) {
      --order: 14;
    }
    & li:nth-child(16) {
      --order: 15;
    }
    & li:nth-child(17) {
      --order: 16;
    }
    & li:nth-child(18) {
      --order: 17;
    }
    // Acepto rebre info
    & li:nth-child(19) {
      --order: 20;
    }
    & li:nth-child(20) {
      --order: 18;
    }
    & li:nth-child(21) {
      --order: 19;
    }
    & li:nth-child(22) {
      --order: 21;
    }
    & li:nth-child(23) {
      --order: 22;
    }
    & div:nth-child(24) {
      --order: 23;
    }
    & div:nth-child(25) {
      --order: 24;
    }
  }
}

@media (min-width: 900px) {
  .signup {
    --padding-signup: var(--pad8) 0;
    --margin-top: 32px;
    --align-self: flex-end;
    
    .form {
      --display: grid;

      & li:nth-child(2) {
        --order: auto;  
      }
      & li:nth-child(3) {
        --order: auto;      
      }
      & li:nth-child(4) {
        --order: auto;      
      }
      // Email
      & li:nth-child(5) {
        --order: auto;      
      }
      & li:nth-child(6) {
        --order: auto;      
      }
      & li:nth-child(7) {
        --order: auto;      
      }
      & li:nth-child(8) {
        --order: auto;      
      }
      // DNI
      & li:nth-child(9) {
        --order: auto;      
      }
      & li:nth-child(10) {
        --order: auto;      
      }
      & li:nth-child(11) {
        --order: auto;
      }
      & li:nth-child(12) {
        --order: auto;
      }
      & li:nth-child(13) {
        --order: auto;
      }
      & li:nth-child(14) {
        --order: auto;
      }
      & li:nth-child(15) {
        --order: auto;
      }
      & li:nth-child(16) {
        --order: auto;
      }
      & li:nth-child(17) {
        --order: auto;
      }
      & li:nth-child(18) {
        --order: auto;
      }
      // Acepto rebre info
      & li:nth-child(19) {
        --order: auto;
      }
      & li:nth-child(20) {
        --order: auto;
      }
      & li:nth-child(21) {
        --order: auto;
      }
      & li:nth-child(22) {
        --order: auto;
      }
      & li:nth-child(23) {
        --order: auto;
      }
      & div:nth-child(24) {
        --order: auto;
      }
      & div:nth-child(25) {
        --order: auto;
      }
    }
  }
}

// Layout
.signup {
  padding: var(--padding-signup);
  background-color: var(--second-3);

  &__welcome {
    width: 100%;
    p {
      padding-bottom: var(--pad4-5);
      color: var(--primary);
    }
  }
  &__form {
    .form {
      display: var(--display);
      flex-direction: column;
      
      & li:nth-child(2) {
        order: var(--order);
      }
      & li:nth-child(3) {
        order: var(--order);
      }
      & li:nth-child(4) {
        order: var(--order);
      }
      // Email
      & li:nth-child(5) {
        order: var(--order);
        grid-column: 1;
        grid-row: 3;
      }
      & li:nth-child(6) {
        order: var(--order);
      }
      & li:nth-child(7) {
        order: var(--order);
      }
      & li:nth-child(8) {
        order: var(--order);
      }
      // DNI
      & li:nth-child(9) {
        order: var(--order);
        grid-column: 2;
        grid-row: 2;
      }
      & li:nth-child(10) {
        order: var(--order);
      }
      & li:nth-child(11) {
        order: var(--order);
      }
      & li:nth-child(12) {
        order: var(--order);
      }
      & li:nth-child(13) {
        order: var(--order);
      }
      & li:nth-child(14) {
        order: var(--order);
      }
      & li:nth-child(15) {
        order: var(--order);
      }
      & li:nth-child(16) {
        order: var(--order);
      }
      & li:nth-child(17) {
        order: var(--order);
      }
      & li:nth-child(18) {
        order: var(--order);
      }
      // Acepto rebre info
      & li:nth-child(19) {
        order: var(--order);
        align-self: var(--align-self);
        margin-top: var(--margin-top);
      }
      & li:nth-child(20) {
        order: var(--order);
      }
      & li:nth-child(21) {
        order: var(--order);
      }
      & li:nth-child(22) {
        order: var(--order);
      }
      & li:nth-child(23) {
        order: var(--order);
      }
      & div:nth-child(24) {
        order: var(--order);
        grid-column: 1 / span 2;
      }
      & div:nth-child(25) {
        order: var(--order);
        grid-column: 1 / span 2;
        justify-self: center;
      }
    }
  }
}