// Dynamic variables
.signup {
  --padding-signup: var(--pad1);
  --margin-top: var(--pad1);
  --align-self: auto;
  
  .form {
    --display: flex;
    // Nom
    & li:nth-child(2) {
      order: 1;
    }
    // Email
    & li:nth-child(3) {
      order: 7;
    }
    // Cognom
    & li:nth-child(4) {
      order: 2;
    }
    // Phone
    & li:nth-child(5) {
      order: 8;
    }
    // Segon cognom
    & li:nth-child(6) {
      order: 3;
    }
    // dni
    & li:nth-child(7) {
      order: 4;
    }
    // dob
    & li:nth-child(8) {
      order: 9;
    }
    // lloc naixement
    & li:nth-child(9) {
      order: 10;
    }
    // NO dni
    & li:nth-child(10) {
      order: 5;
      input {
        width: 22px;
      }
    }
    // poblacio
    & li:nth-child(11) {
      order: 11;
    }
    // genere
    & li:nth-child(12) {
      order: 6;
    }
    // adreça
    & li:nth-child(13) {
      order: 12;
    }
    // estudis
    & li:nth-child(14) {
      order: 13;
    }
    // conegut
    & li:nth-child(15) {
      order: 15;
    }
    // laboral
    & li:nth-child(16) {
      order: 14;
    }
    // ess
    & li:nth-child(17) {
      order: 16;
    }
    // contrasenya
    & li:nth-child(18) {
      order: 17;
    }
    // contrasenya 2 - Acepto rebre info
    & li:nth-child(19) {
      order: 18;
    }
    // accepto 1
    & li:nth-child(20) {
      order: 19;
      margin-top: var(--pad2);

      input {
        width: 15px;
      }
    }
    // accepto 2
    & li:nth-child(21) {
      order: 20;
      
      input {
        width: 15px;
      }
    }
    // accepto 3
    & li:nth-child(22) {
      order: 21;

      input {
        width: 15px;
      }
    }
    // submit
    & div:nth-child(23) {
      order: 23;
    }
    // text info
    & div:nth-child(24) {
      order: 22;
      margin-top: var(--pad2);
    }
  }
}

@media (min-width: 900px) {
  .signup {
    --padding-signup: var(--pad8) 0;
    --margin-top: var(--pad2);
    --align-self: flex-end;
    
    .form {
      --display: grid;

      & li:nth-child(2) {
        --order: 1;  
      }
      & li:nth-child(3) {
        --order: 2;      
      }
      & li:nth-child(4) {
        --order: 3;      
      }
      // Email
      & li:nth-child(5) {
        --order: 4;      
      }
      & li:nth-child(6) {
        --order: 5;      
      }
      & li:nth-child(7) {
        --order: 6;      
      }
      & li:nth-child(8) {
        --order: 7;      
      }
      // DNI
      & li:nth-child(9) {
        --order: 8;      
      }
      & li:nth-child(10) {
        --order: 9;      
      }
      & li:nth-child(11) {
        --order: 10;
      }
      & li:nth-child(12) {
        --order: 11;
      }
      & li:nth-child(13) {
        --order: 12;
      }
      & li:nth-child(14) {
        --order: 13;
      }
      & li:nth-child(15) {
        --order: 14;
      }
      & li:nth-child(16) {
        --order: 15;
      }
      & li:nth-child(17) {
        --order: 16;
      }
      & li:nth-child(18) {
        --order: 17;
      }
      // Acepto rebre info
      & li:nth-child(19) {
        --order: 20;
      }
      & li:nth-child(20) {
        --order: 18;
      }
      & li:nth-child(21) {
        --order: 19;
      }
      & li:nth-child(22) {
        --order: 21;
      }
      & li:nth-child(23) {
        --order: 22;
      }
      & div:nth-child(24) {
        --order: 23;
      }
      & div:nth-child(25) {
        --order: 24;
      }
    }
  }
}

// Layout
.signup {
  padding: var(--padding-signup);
  background-color: var(--second-3);

  &__welcome {
    width: 100%;
    p {
      padding-bottom: var(--pad4-5);
      color: var(--primary);
    }
  }
  &__form {
    .form {
      display: var(--display);
      flex-direction: column;
    }
  }
}