// Dynamic variables
.support-list {
  &__intro {
    --padding: var(--pad2) 0 0 0;
    --flex-direction: column;
  }
  &__intro-title .logo{
    --width: var(--pad2);
    --height: var(--pad2);
  }
}

@media (min-width: 900px) {
  .support-list {
    &__intro {
      --padding: var(--pad4) var(--pad4-5) var(--pad8)  var(--pad4-5);
      --flex-direction: row;
    }
    &__intro-title .logo{
      --width: var(--pad3);
      --height: var(--pad3);
    }
  }
}

// Layout
.support-list {
  &__intro {
    display: flex;
    flex-direction: var(--flex-direction);
    justify-content: space-between;
    padding: var(--padding);
  }
  &__intro-title {
    display: flex;
    gap: var(--pad1);
    align-items: center;
    padding-bottom: var(--pad2);

    .logo {
      width: var(--width);
      height: var(--height);
      background-color: var(--white);
      border-radius: 50%;
      box-shadow: var(--shadow);
      overflow: hidden;
    }
  }
  &__intro-btn {
    margin: 0 var(--pad1);
  }
}