// Dynamic variables
.support-list {
  &__intro {
    --padding-intro: var(--pad2) 0 0 0;
    --flex-direction: column;
  }
  &__intro-title {
    .logo {
      --width: var(--pad2);
      --height: var(--pad2);
    }
  }
  &__left {
    --padding-left: 0;
    --width-left: 100%;
  }
}

@media (min-width: 900px) {
  .support-list {
    &__intro {
      --padding-intro: var(--pad1) var(--pad4-5) var(--pad1)  var(--pad4-5);
      --flex-direction: row;
    }
    &__intro-title {
      .logo {
        --width: var(--pad3);
        --height: var(--pad3);
      }
    }
    &__left {
      --padding-left: var(--pad2) 0;
      --width-left: fit-content;
    }
  }
}

// Layout
.support-list {
  &__intro {
    display: flex;
    align-items: center;
    flex-direction: var(--flex-direction);
    justify-content: space-between;
    padding: var(--padding-intro);
  }
  &__left {
    width: var(--width-left);
    padding: var(--padding-left);
  }
  &__intro-title {
    display: flex;
    gap: var(--pad1);
    align-items: center;
    padding: 0 0 var(--pad1-5) 0;

    .logo {
      width: var(--width);
      height: var(--height);
      background-color: var(--white);
      border-radius: 50%;
      box-shadow: var(--shadow);
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
  }
  &__intro-btn {
    padding: var(--padding);
  }
  .sessions {
    .session-card:last-child {
      border: none;
    }
  }
}