{% load my_tag_library %}
<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ config.PROJECT_NAME }} ─ Plataforma de gestió de projectes i inscripcions</title>
    <meta name="author" content="name">
    <meta name="description" content="description here">
    <meta name="keywords" content="keywords,here">
    <link rel="icon" href="{% external_static "/logo.png" %}">
    <!-- CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap" rel="stylesheet">     {% block head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" type="text/css">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/js.cookie-2.2.0.min.js' %}"></script>
    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
    {% block extra_head %}{% endblock %}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/onload.js' %}"></script>
  </head>
    
  <body class="grid-base {% block extra_class_body %}{% endblock %}" onload="onLoadFunction()">
    <sidebar class="grid-base__side sidebar {% if user.is_authenticated %}is-logged{% endif %}">
      <div class="sidebar__topbar">
        <div class="topbar__home">
          <a href="{% url 'home' %}">
            {% if not user.is_authenticated %}
            <div class="home-icon">
              <svg
                class="icon-pathfill-white"
                xmlns="http://www.w3.org/2000/svg"
                viewbox="0 0 22 24"
                width="22"
                height="24">
                <path
                  d="M 0,24 V 8 l 10.74,-8 10.6,8 v 16 h -7.8 V 14.5 H 7.77 V 24 Z"
                />
              </svg>
            </div>
            {% else %}
            <div class="home-icon">
              <svg
                class="icon-pathfill-white"
                xmlns="http://www.w3.org/2000/svg"
                viewbox="0 0 22 24"
                width="22"
                height="24">
                <path
                  d="M 0,24 V 8 l 10.74,-8 10.6,8 v 16 h -7.8 V 14.5 H 7.77 V 24 Z"
                />
              </svg>
            </div>
            {% endif %}
          </a>
        </div>
        {% if user.is_authenticated %}
        <div class="topbar__middle">
          <div class="text-menu">
            <p>{{ user.email }}</p>
          </div>
          {% if user.is_superuser or user.is_staff %}
          <a href="{% url 'admin:index'%}" class="text-menu">
            <p>Anar al backoffice</p>
          </a>
          {% endif %}
          <a href="{% url 'logout' %}">
            <div class="text-menu">
              <p>Tancar sessió</p>
            </div>
          </a>
        </div>
        {% endif %}
      <div class="topbar__action">
        <div class="burguer" onclick="openMenu()">
          <svg
            class="icon-pathfill-white"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24">
            <path d="m 0,19.995763 v -2 h 24 v 2 z m 0,-7 v -2 h 24 v 2 z M 0,5.9957627 v -2 h 24 v 2 z"/>
          </svg>
        </div>
        <div class="close" onclick="closeMenu()">
          <svg
            class="icon-pathfill-second-3"
            xmlns="http://www.w3.org/2000/svg"
            viewbox="0 0 9.46 9.46">
            <path
              d="M 0.73,9.46 0,8.73 4,4.73 0,0.73 0.73,0 l 4,4 4,-4 0.73,0.73 -4,4 4,4 -0.73,0.73 -4,-4 z" />
          </svg>
        </div>
      </div>
      </div>
      <nav class="sidebar__menu">
        <ul class="menu">
          <li class="menu__home">
            <a href="{% url 'home' %}">
              <div class="menu__item {% block home_is_active %}is-active{% endblock %}">
                {% if not user.is_authenticated %}
                <div class="home-icon">
                  <svg
                    class="icon-pathfill-white"
                    xmlns="http://www.w3.org/2000/svg"
                    viewbox="0 0 22 24"
                    width="22"
                    height="24">
                    <path
                      d="M 0,24 V 8 l 10.74,-8 10.6,8 v 16 h -7.8 V 14.5 H 7.77 V 24 Z"
                    />
                  </svg>
                </div>
                <div class="text-menu">
                  <p>Inici</p>
                </div>
                {% else %}
                <div class="home-icon">
                  <svg
                    class="icon-pathfill-white"
                    xmlns="http://www.w3.org/2000/svg"
                    viewbox="0 0 22 24"
                    width="22"
                    height="24">
                    <path
                      d="M 0,24 V 8 l 10.74,-8 10.6,8 v 16 h -7.8 V 14.5 H 7.77 V 24 Z"
                    />
                  </svg>
                </div>
                <div class="text-menu">
                  <p>Inici</p>
                </div>
                {% endif %}
              </div>
            </a>
          </li>
          <li>
            <a href="{% url 'courses' %}">
              <div class="menu__item {% block enrollments_is_active %}{% endblock %}">
                <div class="menu__icon">
                  <svg
                    class="icon-pathfill-white"
                    xmlns="http://www.w3.org/2000/svg"
                    viewbox="0 0 22.834999 23.99">
                    <path d="M 1.7,22.85 C 1.25,22.85 0.82,22.66 0.51,22.34 0.18,22.03 0,21.59 0,21.14 V 3.42 C 0,2.97 0.18,2.53 0.51,2.22 0.82,1.89 1.25,1.7 1.7,1.71 H 3.54 V 0 h 1.84 v 1.71 h 9.63 V 0 h 1.84 v 1.71 h 1.84 c 0.45,0 0.88,0.19 1.19,0.51 0.33,0.31 0.51,0.75 0.51,1.2 v 8.6 h -1.7 V 8.85 H 1.7 v 12.29 h 9.04 v 1.71 z m 20.09,-6.26 -2.01,-2.03 0.82,-0.83 c 0.34,-0.3 0.85,-0.3 1.19,0 l 0.82,0.83 c 0.3,0.34 0.3,0.86 0,1.2 z m -9.35,7.4 v -2.03 l 6.12,-6.17 2.01,2.03 -6.12,6.17 z" />
                  </svg>
                </div>
                <div class="text-menu">
                  <p>Inscripcions</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="{% url 'new_project' %}">
              <div class="menu__item {% block projects_is_active %}{% endblock %}">
                <div class="menu__icon">
                  <svg
                    class="icon-pathfill-white"
                    xmlns="http://www.w3.org/2000/svg"
                    viewbox="0 0 24.01 17.870682">
                    <g transform="translate(-5.49,-8.57)">
                      <path d="M 7.17,26.43 C 6.73,26.43 6.31,26.24 6.01,25.92 5.68,25.62 5.5,25.2 5.49,24.76 V 10.24 C 5.49,9.8 5.68,9.38 6,9.08 6.3,8.76 6.72,8.57 7.16,8.57 H 15 l 1.67,1.67 h 9.46 c 0.44,0 0.86,0.19 1.16,0.51 0.32,0.3 0.51,0.72 0.51,1.16 H 7.17 V 24.75 L 10.02,13.59 H 29.5 l -2.99,11.56 c -0.08,0.39 -0.29,0.74 -0.61,0.98 -0.34,0.22 -0.74,0.32 -1.14,0.31 H 7.17 Z" />
                    </g>
                  </svg>
                </div>
                <div class="text-menu">
                  <p>Projectes</p>
                </div>
              </div>
            </a>
          </li>
          <li class="mobile-only">
            <a href="{{ config.PROJECT_WEBSITE_URL }}">
              <div class="menu__item menu__item--narrow">
                <div class="text-menu">
                  <p>Web</p>
                </div>
              </div>
            </a>
          </li>
          <li class="mobile-only">
            <a href="{{ config.PROJECT_CONTACT_URL }}">
              <div class="menu__item menu__item--narrow">
                <div class="text-menu">
                  <p>Contacte</p>
                </div>
              </div>
            </a>
          </li>
        <!-- {% if user.is_superuser or user.is_staff %}
          <li><a href="{% url 'admin:index'%}">Backoffice</a></li>
        {% endif %} -->
        </ul>
      </nav>
    {% if user.is_authenticated %}
      <div class="sidebar__middle">
        <p>{{ user.email }}</p>
      </div>
      <div class="sidebar__logout">
        <a href="{% url 'logout' %}">
          <div class="menu__item">
            <div class="menu__icon menu__icon--out">
              <svg
                class="icon-pathfill-white"
                xmlns="http://www.w3.org/2000/svg"
                viewbox="0 0 14 14">
                <path d="M 6.34,10.65 V 2.54 L 3.72,5.16 2.78,4.22 7,0 11.22,4.22 10.28,5.16 7.66,2.54 v 8.12 H 6.35 Z M 1.31,14 C 0.59,13.98 0.01,13.41 0,12.69 V 9.56 h 1.31 v 3.13 H 12.69 V 9.56 H 14 v 3.13 c -0.02,0.72 -0.59,1.3 -1.31,1.31 z"/>
              </svg>
            </div>
            <div class="text-menu">
              <p>Tancar sessió</p>
            </div>
          </div>
        </a>
      </div>
    {% endif %}
    </sidebar>

    <main class="grid-base__main">
      {% include './components/login_float.html' %}
        {% block content %}
            NO OVERRIDE
        {% endblock %}
        {% include 'components/footer.html' %}
        <!-- <div class="cookies-consent">
            <p>
            Aquest lloc web fa servir cookies pròpies i de tercers. En continuar la navegació entenem que s’accepta la
                nostra <a href="{{ config.PROJECT_LEGAL_URL }}">política de cookies</a>.
            </p>
            <a href="#" onclick="javascript:addCookieConsent();" class="button">Continuar</a>
            <script>
                function addCookieConsent () {
                    Cookies.set("consent", "true");
                    $(".cookies-consent").hide();
                }

                $( document ).ready(function() {
                    var consent = Cookies.get("consent");
                    if (consent == undefined) {
                    $(".cookies-consent").css("visibility", "visible");
                    } else {
                    $(".cookies-consent").css("visibility", "hidden");
                    }
                });
            </script>
        </div> -->
    </main>
    {% block extra_js %}{% endblock %}
  </body>
</html>