{% load my_tag_library %}
<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ PROJECT_NAME }} ─ Plataforma de gestió de projectes i inscripcions</title>
    <meta name="author" content="name">
    <meta name="description" content="description here">
    <meta name="keywords" content="keywords,here">
    <link rel="icon" href="{% external_static "/logo.png" %}">
    <!-- CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap" rel="stylesheet">     {% block head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" type="text/css">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/js.cookie-2.2.0.min.js' %}"></script>
    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </head>
    
  <body class="grid-base">
    <sidebar class="grid-base__side sidebar {% if user.is_authenticated %}is-logged{% endif %}">
      <div class="sidebar__topbar">
        <div class="topbar__home">
          <a href="{% url 'home' %}">
            <div class="">🍕</div>
            {% if user.is_authenticated %}
            <div class="">😀</div>
            {% endif %}
          </a>
        </div>
        {% if user.is_authenticated %}
        <div class="topbar__middle">
          <p>{{ user.email }}</p>
          <a href="{% url 'logout' %}">
            <div>
              <div class="text-menu">
                <p>Tancar sessió</p>
              </div>
            </div>
          </a>
        </div>
        {% endif %}
      <div class="topbar__action">
        <div class="burguer" onclick="openMenu()">🍔</div>
        <div class="close" onclick="closeMenu()">✖</div>
      </div>
      </div>
      <nav class="sidebar__menu">
        <ul class="menu">
          <li class="menu__home">
            <a href="{% url 'home' %}">
              <div class="menu__item is-active ">
                {% if not user.is_authenticated %}
                <div class="menu__icon">🍕</div>
                <div class="text-menu">
                  <p>Inici</p>
                </div>
                {% else %}
                <div class="menu__user">😀</div>
                {% endif %}
              </div>
            </a>
          </li>
          <li>
            <a href="{% url 'courses' %}">
              <div class="menu__item">
                <div class="menu__icon">🥨</div>
                <div class="text-menu">
                  <p>Inscripcions</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="{% url 'project_info' %}">
              <div class="menu__item">
                <div class="menu__icon">🍩</div>
                <div class="text-menu">
                  <p>Projectes</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="{{ config.PROJECT_WEBSITE_URL }}">
              <div class="menu__item menu__item--narrow">
                <div class="text-menu">
                  <p>Web</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="{{ config.PROJECT_CONTACT_URL }}">
              <div class="menu__item menu__item--narrow">
                <div class="text-menu">
                  <p>Contacte</p>
                </div>
              </div>
            </a>
          </li>
        <!-- {% if user.is_superuser or user.is_staff %}
          <li><a href="{% url 'admin:index'%}">Backoffice</a></li>
        {% endif %} -->
        </ul>
      </nav>
    {% if user.is_authenticated %}
      <div class="sidebar__middle">
        <p>{{ user.email }}</p>
      </div>
      <div class="sidebar__logout">
        <a href="{% url 'logout' %}">
          <div class="menu__item">
            <div class="menu__icon">🎈</div>
            <div class="text-menu">
              <p>Tancar sessió</p>
            </div>
          </div>
        </a>
      </div>
    {% endif %}
    </sidebar>

    <main class="grid-base__main">
        {% block content %}
            NO OVERRIDE
        {% endblock %}
        {% include 'components/footer.html' %}
        <!-- <div class="cookies-consent">
            <p>
            Aquest lloc web fa servir cookies pròpies i de tercers. En continuar la navegació entenem que s’accepta la
                nostra <a href="{{ config.PROJECT_LEGAL_URL }}">política de cookies</a>.
            </p>
            <a href="#" onclick="javascript:addCookieConsent();" class="button">Continuar</a>
            <script>
                function addCookieConsent () {
                    Cookies.set("consent", "true");
                    $(".cookies-consent").hide();
                }

                $( document ).ready(function() {
                    var consent = Cookies.get("consent");
                    if (consent == undefined) {
                    $(".cookies-consent").css("visibility", "visible");
                    } else {
                    $(".cookies-consent").css("visibility", "hidden");
                    }
                });
            </script>
        </div> -->
    </main>
  </body>
</html>