{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="home">
	<section class="home__welcome welcome grid-content">
		<div class="welcome__topbar topbar">
			<div class="topbar__left">
				<a href="{{ config.PROJECT_WEBSITE_URL }}" class="text-menu">
					<div class="btn btn--empty">
						<p>Web</p>
					</div>
				</a>
				<a href="{{ config.PROJECT_CONTACT_URL }}" class="text-menu">
					<div class="btn btn--empty">
						<p>Contacte</p>
					</div>
				</a>
			</div>
			<div class="topbar__right">
				<a href="{% url 'loginsignup' %}">
					<div class="btn btn--second">
						<div class="btn__text">
							Registrar-se
						</div>
					</div>
				</a>
				<a href="{% url 'loginsignup' %}">
					<div class="btn btn--white">
						<div class="btn__text">
							Accedir
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="welcome__content">
			<div class="welcome__logo">
				<img src="{% static '/logo.png' %}" alt="Logo Ateneu Cooperatiu">
			</div>
			<div class="welcome__text">
				<div class="title-1 is-bold">
					<p>{{ PROJECT_NAME }}</p>
				</div>
				<div class="title-1">
					<p>Plataforma de gestió de projectes i inscripcions</p>
				</div>
			</div>
		</div>
	</section>
	<section class="home__intro intro grid-content">
		<div class="intro__title grid-item-full">
			<div class="title-1">
				<p>Benvingudes a la web de gestió d’inscripcions i acompanyaments de {{ PROJECT_NAME }}!</p>
			</div>
		</div>
		<div class="intro__bloc grid-item-1-3">
			<div class="intro__bloc-title text-menu">
				<p>Inscripcions</p>
			</div>
			<div class="intro__bloc-text" text-md>
				Disposem d’una oferta regular de formació en economia solidària i cooperativisme per a tots els públics, tant per a aquelles persones que tenen ganes d’apropar-se a l’ESS per primera vegada, els col·lectius que estan engegant un projecte, i cooperatives que volen consolidar la seva activitat incorporant nous coneixements especialitzats.
			</div>
			<div class="intro__bloc-btn">
				<a href="{% url 'courses' %}">
					<div class="btn btn--primary">
						<div class="btn__text">
							Anar a l'oferta formativa
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="intro__bloc grid-item-4-6">
			<div class="intro__bloc-title text-menu">
				<p>Projectes</p>
			</div>
			<div class="intro__bloc-text" text-md>
				Des de Coòpolis acompanyem projectes en la seva posada en marxa i constitució com a cooperatives, en aquells aspectes centrals per a la seva activitat i facilitem eines i recursos per a la seva consolidació i creixement. També dissenyem itineraris per a la transformació d’associacions i altres formes d’empreses a cooperatives.
			</div>
			<div class="intro__bloc-btn">
				<a href="{% url 'courses' %}">
					<div class="btn btn--primary">
						<div class="btn__text">
							Sol·licitar acompanyament
						</div>
					</div>
				</a>
			</div>
		</div>
	</section>
	<section class="home__outro outro grid-content">
		<div class="outro__item grid-item-3-4">
			<div class="outro__text">
				<p>Cal que us doneu d’alta amb les vostres dades personals, i podreu realitzar les inscripcions de les formacions, i sol·licitar assessorament per a la creació de projectes cooperatius.</p>
				<p>Si tenieu un compte creat amb l'anterior sistema, heu de fer RECORDAR CONTRASENYA i podreu recuperar l'accès.</p>
				<p>Si teniu dificultats, podeu escriure un correu a <a href="mailto:formacio@bcn.coop" class="link">formacio@bcn.coop</a> o trucar a <span class="is-bold">{{ PROJECT_NAME }}: 93 432 00 63</span></p>
			</div>
			<div class="outro__btn">
				<a href="{% url 'loginsignup' %}">
					<div class="btn btn--second">
						<div class="btn__text">
							Registrar-se
						</div>
					</div>
				</a>
			</div>
		</div>
	</section>
</div>
{% endblock %}
