{% extends "base.html" %}
{% load static %}

{% block content %}
{% include '../components/header_topbar.html' %}
<div 
	class="profile {% if not user.is_authenticated %}not-logged{% endif %}"
	
>
	<section class="profile__welcome grid-content">
		<div class="title-1 grid-item-wide">
			<p>Per a inscriure't a les activitats o sol·licitar acompanyament per al teu projecte, crea un compte amb els formularis que hi ha a continuació.</p>
		</div>
	</section>
	<section class="profile__form grid-content">
		<div class="form grid-item-wide">
			{{ signup_form.as_ul }}
			<div class="form__text">
				<p>Consulta el
					<a href="#0" class="is-bold">text complet</a>
					de l'avís legal i de protecció de dades.
				</p>
			</div>
			<div class="form__submit">
				<button type="submit" class="btn btn--second">
					<p class="btn__text">
						Crear compte
					</p>
				</button>
			</div>
		</div>
	</section>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/form.js' %}"></script>
{% endblock %}
