{% extends "base.html" %}
{% load static %}

{% block content %}
{% include './components/header_topbar.html' %}
<div class="project">
	<section class="project__submenu grid-content">
		<div class="grid-item-full">
			<div class="submenu">
				<a href="{% url 'new_project' %}">
					<div class="submenu__item is-active">
						<p>El meu projecte</p>
					</div>
				</a>
			</div>
		</div>
	</section>
	<section class="project__intro grid-content">
		<div class="grid-item-span-3 project__title title-1">
			<p>Omple les dades del teu projecte. En qualsevol moment les podràs modificar.</p>
		</div>
	</section>
	<section class="project__form grid-content">
			<form 
					class="form grid-item-wide"
					method="post" 
					action="{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}"
					enctype="multipart/form-data" 
					id="project-form"
			>
        {% csrf_token %}
				{{ form.as_ul }}
				{% if messages %}
					<div class="modal">
						<div class="modal__background" onclick="hideMessageModal(event)"></div>
						<div class="modal__card">
							<div class="modal__title title-1">
								<p>Confirmació</p>
							</div>
							<div class="modal__close" onclick="hideMessageModal(event)">
								<svg
									class="icon-pathfill-primary"
									xmlns="http://www.w3.org/2000/svg"
									viewbox="0 0 9.46 9.46">
									<path
										d="M 0.73,9.46 0,8.73 4,4.73 0,0.73 0.73,0 l 4,4 4,-4 0.73,0.73 -4,4 4,4 -0.73,0.73 -4,-4 z" />
								</svg>
							</div>
							<div class="modal__form">
								{% for message in messages %}

								<div class="modal__intro text-md">
									<div {% if message.tags %} class="{{ message.tags }}-message" {% endif %}>
										<p>{{ message }}</p>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
        {% endif %}
				{% if form.errors %}
				<div class="message-container">
					<p class="error-message">No s'ha pogut completar el registre, si us plau, revisa els errors del formulari.
					</p>
					{% for error in form.non_field_errors %}
					<p class="error-message">{{ error }}</p>
					{% endfor %}
				</div>
				{% endif %}
				<div class="form__submit">
					<input type="submit" class="btn btn--second btn__text" value="Guardar projecte" />
				</div>
        <input type="hidden" name="next" value="{{ next }}" />
		</form>
	</section>

</div>

{% endblock %}
