{% extends "base.html" %}
{% load static %}

{% block home_is_active %}{% endblock %}
{% block enrollments_is_active %}{% endblock %}
{% block projects_is_active %}is-active{% endblock %}

{% block content %}
{% include './components/header_topbar.html' %}
<div class="project-empty">
	<section class="project-empty__bloc grid-content">
		<div class="grid-item-span-3 project-empty__title title-1">
			<p>La teva sol·licitud ha estat enviada! rebràs un correu amb el link del projecte quan l'altra persona l'accepti.</p>
		</div>
	</section>
	<section class="project-empty__bloc project-empty__bloc2 grid-content">
		<div class="grid-item-span-2 project-empty__title text-md">
			<p>O si no, sempre pots introducir teu mateix totes les dades.</p>
		</div>
		<!-- FALTA url -->
		<a class="project-empty__btn" href="">
			<div class="btn btn--primary">
				<div class="btn__text">
					<p>Introduir un nou projecte</p>
				</div>
			</div>
		</a>
	</section>
</div>

{% endblock %}