{% extends "base.html" %}
{% load static %}

{% block content %}
{% include './components/header_topbar.html' %}
<div class="project">
	<section class="project__submenu grid-content">
		<div class="grid-item-full">
			<div class="submenu">
				<a href="{% url 'new_project' %}">
					<div class="submenu__item is-active">
						<p>El meu projecte</p>
					</div>
				</a>
			</div>
		</div>
	</section>
	<section class="project__intro grid-content">
		<div class="grid-item-full project__title title-1">
			<p>Omple les dades del teu projecte. En qualsevol moment les podràs modificar.</p>
		</div>
	</section>
	<section class="project__form grid-content">
			<form 
					class="form grid-item-wide"
					method="post" 
					action="{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}"
					enctype="multipart/form-data" 
					id="project-form"
			>
        {% csrf_token %}
				{{ form.as_ul }}
				<!-- {% if form.errors %}
				<div class="message-container">
					<p class="error-message">No s'ha pogut completar el registre, si
						us plau, revisa els errors del formulari.
					</p>
					{% for error in form.non_field_errors %}
					<p class="error-message">{{ error }}</p>
					{% endfor %}
				</div>
				{% endif %} -->
				<div class="form__submit">
					<input type="submit" class="btn btn--second btn__text" value="Guardar projecte" />
				</div>
        <input type="hidden" name="next" value="{{ next }}" />
		</form>
	</section>

</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/form.js' %}"></script>
{% endblock %}