{% extends "base.html" %}
{% load static %}

{% block home_is_active %}{% endblock %}
{% block enrollments_is_active %}{% endblock %}
{% block projects_is_active %}is-active{% endblock %}

{% block content %}
{% include './components/header_topbar.html' %}
<div class="project">
	<section class="project__submenu grid-content">
		<div class="grid-item-full">
			<div class="submenu">
				<a href="{% url 'new_project' %}">
					<div class="submenu__item is-active">
						<p>El meu projecte</p>
					</div>
				</a>
				<a href="{% url 'project_stage_sessions' pk=project.id %}">
					<div class="submenu__item">
						<p>Acompanyaments</p>
					</div>
				</a>
			</div>
		</div>
	</section>
	<section class="project__intro grid-content">
		<div class="grid-item-wide project__intro-logo">
			<div class="logo" onclick="clickProjectLogoInput()">
				{% if project.logo %}
				<img src="{{ project.logo.url }}" alt="Logo de {{ project.name }}">
				{% endif %}
			</div>
		</div>
		<div class="grid-item-wide project__intro-title title-2">
			<p>{{ project.name }}</p>
		</div>

		{% if is_draft %}
		<div class="grid-item-wide project__intro-banner">
			<div class="text-md is-bold">
				<p>Sol·licitud pendent:</p>
			</div>
			<div>
				<p>Tens una demanda d'acompanyament sense acabar. Pots tornar a l'esborrany per finalitzar el procés i enviar la
					sol·licitud.</p>
			</div>
			<div class="action-text">
				<form action="" method="post">
					{% csrf_token %}
					<button type="submit" name="delete" value="{{ project.pk }}">Eliminar esborrany</button>
				</form>
			</div>
			<a href="{% url 'project_stage_start' pk=project.id %}">
				<div class="btn btn--second">
					<div class="btn__text">
						<p>Continuar</p>
					</div>
				</div>
			</a>
		</div>
		{% elif is_pending %}
		<div class="grid-item-wide project__intro-banner">
			<div class="text-md is-bold">
				<p>Acompanyament sol·licitat</p>
			</div>
			<div>
				<p>Tens una demanda d'acompanyament pendent d'atendre. Properament ens posarem en contacte amb tu.</p>
			</div>
		</div>
		{% elif not is_open %}
		<div class="grid-item-wide project__intro-btn title-2">
			<a href="{% url 'project_stage_start' pk=project.id %}">
				<div class="btn btn--second">
					<div class="btn__text">
						<p>Sol·licitar acompanyament</p>
					</div>
				</div>
			</a>
		</div>
		{% endif %}
	</section>
	<section class="project__form grid-content">
		<form class="form grid-item-wide" method="post" action="{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}"
			enctype="multipart/form-data" id="project-form">
			{% csrf_token %}
			{{ form.as_ul }}
			{% if form.errors %}
			<div class="form__error text-sm">
					<p>Hi ha hagut un error: {{ form.error }}</p>
          <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
			</div>
			{% endif %}
			{% if messages %}
			<div class="modal">
				<div class="modal__background" onclick="hideMessageModal(event)"></div>
				<div class="modal__card">
					<div class="modal__title title-1">
						<p>Confirmació</p>
					</div>
					<div class="modal__close" onclick="hideMessageModal(event)">
						<svg class="icon-pathfill-primary" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 9.46 9.46">
							<path d="M 0.73,9.46 0,8.73 4,4.73 0,0.73 0.73,0 l 4,4 4,-4 0.73,0.73 -4,4 4,4 -0.73,0.73 -4,-4 z" />
						</svg>
					</div>
					<div class="modal__form">
						{% for message in messages %}

						<div class="modal__intro text-md">
							<div {% if message.tags %} class="{{ message.tags }}-message" {% endif %}>
								<p>{{ message }}</p>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endif %}
			<div class="form__submit">
				<input type="submit" class="btn btn--primary btn__text" value="Actualitzar dades" />
			</div>
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</section>
	<section class="project__people grid-content">
		<div class="project__people-grid grid-item-full">
			<div class="project__people-title is-bold">
				<p>Integrants del projecte</p>
			</div>
			<!-- FOREACH participant -->
			{{ project.users }}
			<div class="project__people-item">
				<div class="image">
					<!-- Falta imatge participant -->
					<!-- <img src="" alt="" srcset=""> -->
				</div>
				<div class="text-md is-bold">
					<!-- FALTA nom participant -->
					<p>Andrea Simon</p>
				</div>
				<div class="text-md">
					<!-- FALTA correu participant -->
					<p>andrea@codi.coop</p>
				</div>
				<!-- FALTA Què passa quan s'activa? -->
				<div class="project__people-btn text-btn" onclick="openDeleteModal(this)">
					<p>Eliminar</p>
				</div>
			</div>
			<!-- END FOREACH -->
			<div class="project__people-add">
				<div class="icon" onclick="openAddModal(this)">
					<svg xmlns="http://www.w3.org/2000/svg"	viewbox="0 0 24 24"	width="24"	height="24">
						<polygon transform="matrix(0.66666667,0,0,0.66666667,0.3333333,0.3333333)"	points="16.5,11.5 16.5,16.5 11.5,16.5 11.5,18.5 16.5,18.5 16.5,23.5 18.5,23.5 18.5,18.5 23.5,18.5 23.5,16.5 18.5,16.5 18.5,11.5 "	id="polygon2"	style="opacity:0.975;fill:#fff;fill-opacity:1" />
					</svg>
				</div>
				<div class="project__people-btn text-btn" onclick="openAddModal(this)">
					<p>Afegir un nou integrant</p>
				</div>
			</div>
		</div>
	</section>
	<div class="project__modal-add modal-overlay is-hidden" id="addParticipantModal">
		<div class="modal-overlay__background" onclick="closeAddModal()"></div>
		<div class="modal-overlay__card card">
			<div class="card__title text-md is-bold">
				<h1>Afegeix un nou integrant</h1>
			</div>
			<div class="card__subtitle text-sm">
				<p>Escriu a continuació el correu electrònic de la persona que vols
					afegir a aquest projecte.
				</p>
			</div>
			<div class="card__close" onclick="closeAddModal()">
				<svg
					class="icon-pathfill-primary"
					xmlns="http://www.w3.org/2000/svg"
					viewbox="0 0 9.46 9.46">
					<path
						d="M 0.73,9.46 0,8.73 4,4.73 0,0.73 0.73,0 l 4,4 4,-4 0.73,0.73 -4,4 4,4 -0.73,0.73 -4,-4 z" />
				</svg>
			</div>
			<div class="modal-overlay__form form">
				<form method="post" action="">
					{% csrf_token %}
					<li class="field {% if form.errors %}field-error{% endif %}">
						<label for="id_email">Correu electrònic</label>
						<input type="text" name="email" />
						{% if form.errors %}
							{{ form.email.errors }}
						{% endif %}
					</li>
					<button type="submit" class="form__submit btn btn--second btn__text" name="add" value="{{ project.pk }}">Afegir un nou integrant</button>
					<!-- <input type="hidden" name="next" value="{{ next }}" /> -->
				</form>
			</div>
		</div>
	</div>
	<div class="project__modal-add modal-overlay is-hidden" id="deleteParticipantModal">
		<div class="modal-overlay__background" onclick="closeDeleteModal()"></div>
		<div class="modal-overlay__card card">
			<div class="card__title text-md is-bold">
				<h1>Eliminar aquest integrant</h1>
			</div>
			<div class="card__subtitle text-sm">
				<p>Segur que vols eliminar aquest integrant del teu projecte? El compte de la persona 
					no s'esborrarà, només la vinculació amb aquest projecte.
				</p>
			</div>
			<div class="card__close" onclick="closeDeleteModal()">
				<svg
					class="icon-pathfill-primary"
					xmlns="http://www.w3.org/2000/svg"
					viewbox="0 0 9.46 9.46">
					<path
						d="M 0.73,9.46 0,8.73 4,4.73 0,0.73 0.73,0 l 4,4 4,-4 0.73,0.73 -4,4 4,4 -0.73,0.73 -4,-4 z" />
				</svg>
			</div>
			<div class="modal-overlay__form form">
				<form method="post" action="">
					{% csrf_token %}
					<button type="submit" class="form__submit btn btn--second btn__text" name="add" value="{{ project.pk }}">Eliminar integrant</button>
					<!-- <input type="hidden" name="next" value="{{ next }}" /> -->
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}