{% extends "base.html" %}
{% load static %}

{% block home_is_active %}{% endblock %}
{% block enrollments_is_active %}{% endblock %}
{% block projects_is_active %}is-active{% endblock %}

{% block content %}
{% include './components/header_topbar.html' %}
<div class="project-empty">
	<section class="project-empty__bloc grid-content">
		<div class="grid-item-span-3 project-empty__title title-1">
			<p>Sembla que encara no tens cap projecte a la plataforma. Explica'ns com és el teu projecte i les seves característiques perquè et puguem ajudar quan calgui.</p>
		</div>
		<!-- FALTA url -->
		<a class="project-empty__btn" href="">
			<div class="btn btn--primary">
				<div class="btn__text">
					<p>Introduir un nou projecte</p>
				</div>
			</div>
		</a>
	</section>
	<section class="project-empty__bloc project-empty__bloc2 grid-content">
		<div class="grid-item-span-2 project-empty__title text-md">
			<p>El teu projecte ja està registrat a la plataforma per un altre integrant de la cooperativa? Demana-li que t'ho comparteixi i estalvia't omplir totes les dades.</p>
		</div>
		<!-- FALTA -->
		<!-- No tinc clar què passa quan es fa click aquí -->
		<!-- Et porta a una altra pàgina? S'obre un modal? -->
		<div class="project-empty__btn btn btn--second">
			<div class="btn__text">
				<p>Demanar invitació</p>
			</div>
		</div>
	</section>
</div>

{% endblock %}