{% extends "base.html" %}
{% load thumbnail static %}

{% block home_is_active %}{% endblock %}
{% block enrollments_is_active %}is-active{% endblock %}
{% block projects_is_active %}{% endblock %}

{% block content %}
{% include './components/header_topbar.html' %}
<div class="courses-list">
    <section class="courses-list__submenu grid-content">
		<div class="grid-item-full">
			<div class="submenu">
				<a href="{% url 'courses' %}">
					<div class="submenu__item is-active">
						<p>Oferta formativa</p>
					</div>
				</a>
				<a href="{% url 'my_activities' %}">
					<div class="submenu__item">
						<p>Els meus cursos</p>
					</div>
				</a>
			</div>
		</div>
	</section>
  <section class="courses-list__grid">
    {% for course in future_courses %}
      <div class="course-card">
        <div class="course-card__title text-md">
          <h2>{{ course.title }}</h2>
        </div>
        <div class="course-card__bloc">          
          <div class="course-card__subtitle text-menu">
            <p>Descripció</p>
          </div>
          <div class="course-card__text richtext">
            <p>{{ course.description|safe }}</p>
          </div>
        </div>
        <div class="course-card__bloc">          
          <div class="course-card__subtitle text-menu">
            <p>Inici de les sessions</p>
          </div>
          <div class="course-card__text richtext">
            <p>{{ course.date_start }}</p>
          </div>
        </div>
        <div class="course-card__bloc">          
          <div class="course-card__subtitle text-menu">
            <p>Horaris</p>
          </div>
          <div class="course-card__text richtext">
            <p>{{ course.hours }}</p>
          </div>
        </div>
        <div class="course-card__btn">
          <a href="{{ course.absolute_url }}">
            <div class="btn btn--primary btn__text">
              <p>Veure les sessions</p>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
    {% if not future_courses %}
      <p class="margin-block">En aquests moments no hi ha cap formació programada.</p>
    {% endif %}
  </section>
</div>
{% endblock %}
