{% extends "base.html" %}
{% load thumbnail static %}

{% block content %}
{% include './components/header_topbar.html' %}
<div class="course">
	<section class="course__intro grid-content">
		<div class="course__back grid-item-full">
			<a href="{% url 'courses' %}">
				<div class="text-menu">
					Anar a tota l'oferta formativa
				</div>
			</a>
		</div>
		<div class="course__title title-2 grid-item-full">
			<h1>{{ course.title }}</h1>
		</div>
		<div class="grid-item-span-2">
			<div class="course-bloc">
				<div class="course-bloc__title text-menu">
					Descripció
				</div>
				<div class="course-bloc__text richtext">
					<p>{{ course.description|safe }}</p>
				</div>
			</div>
		</div>
	</section>
	<section class="course__grid grid-content">
		<div class="intro text-md grid-item-full">
			Selecciona les sessions on vulguis participar:
		</div>
    {% for activity in activities %}
      <div class="session-card grid-item-full">
        <div class="session-card__title text-md">
					<div class="text-menu">
						<p>Sessió 1</p>
					</div>
					<div class="text-md">
						<h2>{{ activity.name }}</h2>
					</div>
        </div>
				<div class="session-card__action action-open text-menu"
					onclick="openSessionCard(event)"
				>
					<p>Més informació</p>
				</div>
				<div class="session-card__action action-close text-menu is-hidden"
					onclick="closeSessionCard(event)"
				>
					<p>Menys informació</p>
				</div>
				<div class="session-card__time text-sm">
					<span>💙</span>
					<p>{{ activity.date_start }}</p>
					<span>💚</span>
					<p>{{ activity.starting_time }} - {{ activity.ending_time }}H</p>
				</div>
				<div class="session-card__bloc">
					<h3 class="title text-menu">Lloc</h3>
					<p class="text">{{ activity.place|default_if_none:"" }}</p>
				</div>
				<div class="session-card__bloc">
					<h3 class="title text-menu">Descripció</h3>
					<p class="text">{{ activity.objectives|safe }}</p>
				</div>
				<div class="session-card__btn">
					{% if activity.is_past_due is False %}
						{# {% if not activity|is_enrolled:user %} #}
							<a
								id="actButton{{activity.id}}"
								href="#"
								onclick="javascript:onInscriptionButtonClick(
										'{{ activity.id }}',
										'{{ activity.name|escapejs }}',
										'{% url 'loginsignup' %}?next={{ request.get_full_path }}&act={{activity.id}}',
										{% if activity.remaining_spots > 0 %}true{% else %}false{% endif %});"
							>
							{% if activity.remaining_spots > 0 %}
								<div class="btn btn--second btn__text">
									<p>Inscriure-s'hi</p>
								</div>
							{% else %}
								<div class="btn btn--empty btn__text">
									<p>Entrar en llista d'espera</p>
								</div>
							{% endif %}
							</a>
						{# {% endif %} #}
						{% if user in activity.enrolled.all %}
							<div class="btn btn--primary btn__text">
								<p>Ja estàs inscrita a aquesta activitat. Pots veure i gestionar les teves inscripcions a 
									<a href="{% url 'my_activities' %}">les meves activitats.</a>
								</p>
							</div>
							<p class="margin-block"></p>
						{% endif %}
					{% endif %}
				</div>
      </div>
			{% include './components/modal_confirm.html' %}
    {% endfor %}
  </section>
</div>
{% endblock %}



{% block head %}
    {% load static %}
    <script src="{% static 'js/modal.js' %}"></script>
{% endblock %}

{% load enrollable %}
<div class="page-content">

{% if course.banner %}
    <img src="{{ course.banner.url }}" />
{% endif %}


{% block extra_js %}
	<script src="{% static 'js/course.js' %}"></script>
{% endblock %}
