{% extends "base.html" %}
{% load thumbnail static %}

{% block content %}
{% include './components/header_topbar.html' %}
<div class="course">
	<section class="course__intro grid-content">
		<div class="course__back grid-item-full">
			<a href="{% url 'courses' %}">
				<div class="text-menu">
					Anar a tota l'oferta formativa
				</div>
			</a>
		</div>
		<div class="course__title title-2 grid-item-full">
			<h1>{{ course.title }}</h1>
		</div>
		<div class="grid-item-span-2">
			<div class="course-bloc">
				<div class="course-bloc__title text-menu">
					Descripció
				</div>
				<div class="course-bloc__text richtext">
					<p>{{ course.description|safe }}</p>
				</div>
			</div>
		</div>
	</section>
	<section class="course__grid grid-content">
		<div class="intro text-md grid-item-full">
			Selecciona les sessions on vulguis participar:
		</div>
    {% for activity in activities %}
			<div class="modal is-hidden">
				<div class="modal__background" onclick="hideModal(event)"></div>
				<div class="modal__card">
					<div class="modal__title title-1">
						<p>Confirmació d'inscripció</p>
					</div>
					<div class="modal__close" onclick="hideModal(event)">
						<span>✖</span>
					</div>
					<div class="modal__form form">
						<div class="modal__intro text-md">
							<div class="text-md">
								<p>{{ activity.name }}</p>
							</div>
							{% if activity.remaining_spots < 1 %}
							<div class="text-menu">
								<p>Llista d'espera</p>
							</div>
							<div class="text-sm">
								<p>Degut a que les places disponibles estan plenes entraràs en llista d'espera, per tant
									<b>aquesta incripció no serà efectiva fins que no s'alliberin places.</b>
								</p>
								<p>Només cal que confirmis aquest pas, i quan s'alliberin places la teva inscripció automàticament passarà de 
									<i>Llista d'espera</i> a <i>Confirmada</i>
									, cosa que se't notificarà per correu electrònic.
								</p>
							</div>
							{% endif %}
						</div>
						<form method="post" action="{% url 'enroll_course' %}" id="{{ activity.id }}">
							{% csrf_token %}
							<li class="required field field-textarea">
								<textarea 
									name="user_comments"
									id="user_comments"
									placeholder="Hi ha res que vulguis que tinguem en compte? Explica'ns-ho aquí."
								></textarea>
							</li>
							<input type="hidden" id="activity_id" name="activity_id" value="{{ activity.id }}">
						</form>
					</div>
					<button form="{{ activity.id }}" class="modal__submit modal__submit1 btn btn--second btn__text" type="submit">
						Confirmar i anar als meus cursos
					</button>
					<button form="{{ activity.id }}" class="modal__submit modal__submit2 btn btn--empty btn__text" type="submit">
						Confirmar i tornar enrere
					</button>
				</div>
			</div>
			<div class="delete-modal is-hidden">
				<div class="modal__background" onclick="hideModal(event)"></div>
				<div class="modal__card">
					<div class="modal__title title-1">
						<p>Confirmació d'anul·lació</p>
					</div>
					<div class="modal__close" onclick="hideModal(event)">
						<span>✖</span>
					</div>
					<div class="modal__form form">
						<div class="modal__intro text-md">
							<div class="text-md">
								<p>{{ activity.name }}</p>
							</div>
							<div class="text-sm">
								<p>Segur que vols continuar? </br> (si t'ho repenses, i queden places, podràs tornar-t'hi a inscriure) </p>
							</div>
						</div>
						<form method="post" action="{% url 'activity_optout' id=activity.id %}" id="delete_{{ activity.id }}">
							{% csrf_token %}
							<input type="hidden" id="activity_id" name="activity_id" value="{{ activity.id }}">
						</form>
					</div>
					<button form="delete_{{ activity.id }}" class="modal__submit modal__submit1 btn btn--second btn__text" type="submit">
						Anul·lar l'inscripció
					</button>
				</div>
			</div>
      <div class="session-card grid-item-full
				{% if activity.is_past_due is True %} is-past{% endif %}
				{% if activity.remaining_spots < 1 %} is-full{% endif %}
				{% if user in activity.enrolled.all %} is-inscribed{% endif %}
				"
			>
        <div class="session-card__title text-md">
					<div class="text-menu">
						<p>Sessió 1</p>
					</div>
					<div class="text-md">
						<h2>{{ activity.name }}</h2>
					</div>
        </div>
				<div class="session-card__action action-open text-menu"
					onclick="openSessionCard(event)"
				>
					<p>Més informació</p>
				</div>
				<div class="session-card__action action-close text-menu is-hidden"
					onclick="closeSessionCard(event)"
				>
					<p>Menys informació</p>
				</div>
				<div class="session-card__action action-none text-menu">
					<p>Sessió conclosa</p>
				</div>
				<div class="session-card__time text-sm">
					<span>💙</span>
					<p>{{ activity.date_start }}</p>
					<span>💚</span>
					<p>{{ activity.starting_time }} - {{ activity.ending_time }}H</p>
				</div>
				<div class="session-card__bloc">
					<h3 class="title text-menu">Lloc</h3>
					<p class="text">{{ activity.place|default_if_none:"" }}</p>
				</div>
				<div class="session-card__bloc">
					<h3 class="title text-menu">Descripció</h3>
					<p class="text">{{ activity.objectives|safe }}</p>
				</div>
				<div class="session-card__btn">
					<!-- Si l'activitat està activa -->
					{% if activity.is_past_due is False %}
						<!-- Si NO estàs inscrit -->
						{% if not user in activity.enrolled.all %}
							<!-- Si encara hi ha places -->
							{% if activity.remaining_spots > 0 %}
								<div 
									class="btn btn--second btn__text"
									onclick="showModal(event)"
								>
									<p>Inscriure-s'hi</p>
								</div>
							{% else %}
							<!-- Si no hi ha places -->
								<div 
									class="btn btn--second btn__text"
									onclick="showModal(event)"
								>
									<p>Entrar en llista d'espera</p>
								</div>
							{% endif %}
						{% endif %}
						<!-- Si JA estàs incrit -->
						{% if user in activity.enrolled.all %}
						<div 
							class="btn btn--empty btn__text"
							onclick="showDeleteModal(event)"
						>
							<p>Eliminar inscripció</p>
						</div>
						{% endif %}
					{% endif %}
				</div>
      </div>
    {% endfor %}
  </section>
</div>
{% endblock %}


{% block head %}
    {% load static %}
    <script src="{% static 'js/modal.js' %}"></script>
{% endblock %}

{% block extra_js %}
	<script src="{% static 'js/course.js' %}"></script>
{% endblock %}
