<!-- Part dels filtres que s'ha tret mentre no estiguem llestos -->
<!-- per fer-la servir -->
  <div class="grid-content">
    <!-- A afegir després de "Sorting" -->
    <!-- Nou: Aquest div apareix si hi ha filtres seleccionats -->
    <!-- Cada tag ha de tenir el color del seu cercle -->
    <div class="filter__btn btn btn--primary btn__text"
      onclick="showFilters(event)"
    >
      <p>Filtrar</p>
    </div>
    <div class="filter__overlay overlay is-hidden">
      <div class="overlay__background"
        onclick="hideFilters(event)"></div>
      <div class="overlay__card">
        <form class="form" action="">
          {% csrf_token %}
          <div class="overlay__title text-md">
            <p>Filtre</p>
          </div>
          <span class="separator"></span>
          <div
            class="overlay__close"
            onclick="hideFilters(event)"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 35 35">
              <polygon points="22.45 21.04 18.91 17.5 22.45 13.96 21.04 12.55 17.5 16.09 13.96 12.55 12.55 13.96 16.09 17.5 12.55 21.04 13.96 22.45 17.5 18.91 21.04 22.45 22.45 21.04"/>
            </svg>
          </div>
          <!-- For each filter with checkboxes-->
          <div class="overlay__option">
            <div class="overlay__option-topbar" onclick="toggleFilterOption(event)">
              <p>Temàtica</p>
              <div class="overlay__option-arrow">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewbox="0 0 13.1 7.8400002"
                  width="13.1"
                  height="7.8400002"
                >
                  <polygon
                    points="12.24,13.58 17.5,18.84 22.76,13.58 24.05,14.87 17.5,21.42 10.95,14.87 "
                    transform="translate(-10.95,-13.58)"
                    style="fill:#fe8cb3"
                  />
                </svg>
              </div>
            </div>
            <span class="separator"></span>
            <div class="overlay__option-list is-hidden">
              <!-- For each checkbox -->
              <div class="field-checkbox">
                <label>
                  <p>Ecofeminismes</p>
                  <input type="checkbox" name="remember_me" id="id_remember_me">
                </label>
              </div>
              <!-- endfor -->
              <div class="field-checkbox">
                <label>
                  <p>Ecofeminismes</p>
                  <input type="checkbox" name="remember_me" id="id_remember_me">
                </label>
              </div>
              <div class="field-checkbox">
                <label>
                  <p>Ecofeminismes</p>
                  <input type="checkbox" name="remember_me" id="id_remember_me">
                </label>
              </div>
              <div class="field-checkbox">
                <label>
                  <p>Ecofeminismes</p>
                  <input type="checkbox" name="remember_me" id="id_remember_me">
                </label>
              </div>
              <div class="field-checkbox">
                <label>
                  <p>Ecofeminismes</p>
                  <input type="checkbox" name="remember_me" id="id_remember_me">
                </label>
              </div>
              <div class="field-checkbox">
                <label>
                  <p>Ecofeminismes</p>
                  <input type="checkbox" name="remember_me" id="id_remember_me">
                </label>
              </div>
            </div>
            <span class="separator list-separator is-hidden"></span>
          </div>
          <!-- Endfor -->
          <!-- Date filter -->
          <div class="overlay__option">
            <div class="overlay__option-topbar" onclick="toggleFilterDates(event)">
              <p>Dates</p>
              <div class="overlay__option-arrow">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewbox="0 0 13.1 7.8400002"
                  width="13.1"
                  height="7.8400002"
                >
                  <polygon
                    points="12.24,13.58 17.5,18.84 22.76,13.58 24.05,14.87 17.5,21.42 10.95,14.87 "
                    transform="translate(-10.95,-13.58)"
                    style="fill:#fe8cb3"
                  />
                </svg>
              </div>
            </div>
            <span class="separator"></span>
            <div class="overlay__option-dates is-hidden">
              <div class="field">
                <div class="text-xxsm">
                  <p>Des de</p>
                </div>
                <input type="date" name="" id="">
              </div>
              <div class="field">
                <div class="text-xxsm">
                  <p>Fins a</p>
                </div>
                <input type="date" name="" id="">
              </div>
            </div>
            <span class="separator list-separator is-hidden"></span>
          </div>
          <div class="overlay__clean">
            <p>Esborrar-ho tot</p>
          </div>
          <div class="overlay__submit">
            <button type="submit" class="btn btn--primary">
              <div class="btn__text">
                <p>Actualitzar</p>
              </div>
            </button>
          </div>
        </form>
      </div>
    </div>
    <section class="courses-list__filter">
      <div class="filter__tags tags grid-item-full">
        <div class="tag text-xsm">
          <p>Presencial</p>
          <svg
            class="tag__close icon-pathfill-primary icon-7"
            xmlns="http://www.w3.org/2000/svg"
            viewbox="0 0 9.46 9.46"
            width="9.46"
            height="9.46">
            <path
              d="M 0.73,9.46 0,8.73 4,4.73 0,0.73 0.73,0 l 4,4 4,-4 0.73,0.73 -4,4 4,4 -0.73,0.73 -4,-4 z" />
          </svg>
        </div>
        <div class="tag text-xsm">
          <p>Tag una mica llarga</p>
          <svg
            class="tag__close icon-pathfill-primary icon-7"
            xmlns="http://www.w3.org/2000/svg"
            viewbox="0 0 9.46 9.46"
            width="9.46"
            height="9.46">
            <path
              d="M 0.73,9.46 0,8.73 4,4.73 0,0.73 0.73,0 l 4,4 4,-4 0.73,0.73 -4,4 4,4 -0.73,0.73 -4,-4 z" />
          </svg>
        </div>
        <div class="tag text-xsm">
          <p>Presencial</p>
          <svg
            class="tag__close icon-pathfill-primary icon-7"
            xmlns="http://www.w3.org/2000/svg"
            viewbox="0 0 9.46 9.46"
            width="9.46"
            height="9.46">
            <path
              d="M 0.73,9.46 0,8.73 4,4.73 0,0.73 0.73,0 l 4,4 4,-4 0.73,0.73 -4,4 4,4 -0.73,0.73 -4,-4 z" />
          </svg>
        </div>
        <div class="tag text-xsm">
          <p>Tag una mica llarga</p>
          <svg
            class="tag__close icon-pathfill-primary icon-7"
            xmlns="http://www.w3.org/2000/svg"
            viewbox="0 0 9.46 9.46"
            width="9.46"
            height="9.46">
            <path
              d="M 0.73,9.46 0,8.73 4,4.73 0,0.73 0.73,0 l 4,4 4,-4 0.73,0.73 -4,4 4,4 -0.73,0.73 -4,-4 z" />
          </svg>
        </div>
        <div class="tag text-xsm">
          <p>Presencial</p>
          <svg
            class="tag__close icon-pathfill-primary icon-7"
            xmlns="http://www.w3.org/2000/svg"
            viewbox="0 0 9.46 9.46"
            width="9.46"
            height="9.46">
            <path
              d="M 0.73,9.46 0,8.73 4,4.73 0,0.73 0.73,0 l 4,4 4,-4 0.73,0.73 -4,4 4,4 -0.73,0.73 -4,-4 z" />
          </svg>
        </div>
        <div class="tag text-xsm">
          <p>Tag una mica llarga</p>
          <svg
            class="tag__close icon-pathfill-primary icon-7"
            xmlns="http://www.w3.org/2000/svg"
            viewbox="0 0 9.46 9.46"
            width="9.46"
            height="9.46">
            <path
              d="M 0.73,9.46 0,8.73 4,4.73 0,0.73 0.73,0 l 4,4 4,-4 0.73,0.73 -4,4 4,4 -0.73,0.73 -4,-4 z" />
          </svg>
        </div>
        <div class="tag text-xsm">
          <p>Presencial</p>
          <svg
            class="tag__close icon-pathfill-primary icon-7"
            xmlns="http://www.w3.org/2000/svg"
            viewbox="0 0 9.46 9.46"
            width="9.46"
            height="9.46">
            <path
              d="M 0.73,9.46 0,8.73 4,4.73 0,0.73 0.73,0 l 4,4 4,-4 0.73,0.73 -4,4 4,4 -0.73,0.73 -4,-4 z" />
          </svg>
        </div>
      </div>
    </section>
  </div>