{% extends "base.html" %}
{% load thumbnail static %}

{% block home_is_active %}{% endblock %}
{% block enrollments_is_active %}is-active{% endblock %}
{% block projects_is_active %}{% endblock %}

{% block content %}
{% include './components/header_topbar.html' %}
<div class="courses-list">
  <section class="courses-list__submenu grid-content">
		<div class="grid-item-full">
			<div class="submenu">
				<a href="{% url 'courses' %}">
					<div class="submenu__item is-active">
						<p>Oferta formativa</p>
					</div>
				</a>
				<a href="{% url 'my_activities' %}">
					<div class="submenu__item">
						<p>Els meus cursos</p>
					</div>
				</a>
			</div>
		</div>
	</section>
  <section class="courses-list__grid">
    {% for course in future_courses %}
      <div class="course-card">
        <div class="course-card__pretitle text-xsm">
          <!-- Nou: sector o cercle, potser? -->
          <!-- Cadascun ha de tenir el seu color propi -->
          <h2>Ecofeminismes</h2>
        </div>
        <div class="course-card__title text-md">
          <h2>{{ course.title }}</h2>
        </div>
        <!-- Nou: llistat de tags -->
        <div class="couse-card__tags tags">
          <!-- FOR cada tag -->
          <div class="tag text-xsm">
            <p>XXXXX</p>
          </div>
          <!-- endfor -->
        </div>
        <div class="course-card__bloc">          
          <div class="course-card__subtitle text-menu">
            <p>Descripció</p>
          </div>
          <div class="course-card__text richtext">
            <p>{{ course.description|safe }}</p>
          </div>
        </div>
        <div class="course-card__bloc">          
          <div class="course-card__subtitle text-menu">
            <p>Adreçat a</p>
          </div>
          <div class="course-card__text richtext">
            <!-- Nou: públic objectiu -->
            <p>XXXXXXXX</p>
          </div>
        </div>
        <div class="course-card__bloc grid-bloc">          
          <div class="course-card__subtitle text-menu">
            <!-- Nou: nombre de sessions -->
            <p>Sessions: XXX</p>
          </div>
          <!-- Nou FOR: per cada sessió -->
          <div class="course-card__subbloc subbloc">
            <!-- Data sessió. Format 24/07/2023-->
            <div class="subbloc__title text-sm">
              <p>XXXXX</p>
            </div>
            <!-- Horari sessió: format HH:mm - HH:mm -->
            <div class="subbloc__subtitle text-sm">
              <p>XXXXXX</p>
            </div>
            <!-- Descripció sessió, clipped -->
            <div class="subbloc__text text-sm">
              <p>XXXXXX</p>
            </div>
          </div>
          <!-- ENDFOR -->
        </div>
        <div class="course-card__btn">
          <a href="{{ course.absolute_url }}">
            <div class="btn btn--primary btn__text">
              <p>Veure les sessions</p>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}

    {% if not future_courses %}
      <p class="margin-block">En aquests moments no hi ha cap formació programada.</p>
    {% endif %}
  </section>
</div>
{% endblock %}
