{% extends "base.html" %}
{% load thumbnail static %}

{% block content %}
{% include './components/header_topbar.html' %}
<div class="courses-list">
  <section class="courses-list__submenu grid-content">
		<div class="grid-item-full">
			<div class="submenu">
				<a href="{% url 'courses' %}">
					<div class="submenu__item">
						<p>Oferta formativa</p>
					</div>
				</a>
				<a href="{% url 'my_activities' %}">
					<div class="submenu__item is-active">
						<p>Els meus cursos</p>
					</div>
				</a>
			</div>
		</div>
	</section>
  <section class="courses-list__grid grid-content">
      {% if enrolled_activities.count is 0 %}
        <div class="courses-list__subtitle text-md grid-item-full">
          <p>No tens cap inscripció confirmada.</p>
        </div>
      {% else %}

        {% for enrollment in enrolled_activities %}
          <div class="delete-modal is-hidden">
            <div class="modal__background" onclick="hideModal(event)"></div>
            <div class="modal__card">
              <div class="modal__title title-1">
                <p>Confirmació d'anul·lació</p>
              </div>
              <div class="modal__close" onclick="hideModal(event)">
                <span>✖</span>
              </div>
              <div class="modal__form form">
                <div class="modal__intro text-md">
                  <div class="text-md">
                    <p>{{ activity.name }}</p>
                  </div>
                  <div class="text-sm">
                    <p>Segur que vols continuar? </br> (si t'ho repenses, i queden places, podràs tornar-t'hi a inscriure) </p>
                  </div>
                </div>
                <form 
                  method="post" 
                  action="{% url 'activity_optout' id=enrollment.activity.id %}" 
                  id="delete_{{ enrollment.activity.id }}"
                >
                  {% csrf_token %}
                  <input type="hidden" id="enrollment_activity_id" name="enrollment_activity_id" value="{{ enrollment.activity.id }}">
                </form>
              </div>
              <button form="delete_{{ enrollment.activity.id }}" class="modal__submit modal__submit1 btn btn--second btn__text" type="submit">
                Anul·lar l'inscripció
              </button>
            </div>
          </div>
          <div class="my-course-card grid-item-full">
            <div class="my-course-card__pretitle text-sm">
              <h2>{{ enrollment.activity.course }}</h2>
            </div>
            <div class="my-course-card__title text-md">
              <h2>{{ enrollment.activity.name }}</h2>
            </div>
            <div class="my-course-card__section section section1 is-open">
              <div class="section__label label1 text-sm" onclick="toggleSection(event)">
                <p>Informació de la sessió</p>
                <div class="section__action">
                  <span class="open">🥓</span>
                  <span class="close">🍧</span>
                </div>
              </div>
              <div class="section__info">
                <div class="day">
                  <div class="my-course-card__subtitle text-menu">
                    <p>Dia</p>
                  </div>
                  <div class="my-course-card__text richtext">
                    <p>{{ enrollment.activity.date_start }}</p>
                  </div>
                </div>
                <div class="time">
                  <div class="my-course-card__subtitle text-menu">
                    <p>Hora</p>
                  </div>
                  <div class="my-course-card__text richtext">
                    <p>{{ enrollment.activity.starting_time }} - {{ enrollment.activity.ending_time }} H</p>
                  </div>
                </div>
                <div class="description">
                  <div class="my-course-card__subtitle text-menu">
                    <p>Descripció</p>
                  </div>
                  <div class="my-course-card__text richtext">
                    <p>{{ enrollment.activity.objectives|safe }}</p>
                  </div>
                </div>
                {% if enrollment.activity.place %}
                <div class="place">
                  <div class="my-course-card__subtitle text-menu">
                    <p>Lloc</p>
                  </div>
                  <div class="my-course-card__text richtext">
                    <p>{{ enrollment.activity.place }}</p>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>

            {% if enrollment.activity.videocall_url %}
              <div class="my-course-card__section section section2">
                <div class="section__label label2 text-sm" onclick="toggleSection(event)">
                  <p>Enllaç de la videotrucada</p>
                  <div class="section__action">
                    <span class="open">🥓</span>
                    <span class="close">🍧</span>
                  </div>
                </div>
                <div class="section__info section__info--centered">
                  <a href="{{ enrollment.activity.videocall_url }}" target="_blank">
                    <div class="section__link">
                      {{ enrollment.activity.videocall_url }}
                    </div>
                  </a>
                  <div class="section__btn">
                    <div class="btn btn--primary2 btn__text"
                      onclick="javascript:copyVideocallUrl('{{ enrollment.activity.videocall_url }}');"
                    >
                      <p>Copiar l'enllaç
                      </p>
                    </div>
                    <div class="copied_alert text-sm is-hidden">Enllaç copiat</div>
                  </div>
                </div>
              </div>
            {% endif %}

            {% if enrollment.activity.instructions|safe or enrollment.activity.resources.all %}
            <div class="my-course-card__section section">
              <div class="section__label {% if enrollment.activity.videocall_url %} label3 {% else %} label2 {% endif %} text-sm" onclick="toggleSection(event)">
                <p>Instruccions sobre el funcionament de la sessió</p>
                <div class="section__action">
                  <span class="open">🥓</span>
                  <span class="close">🍧</span>
                </div>
              </div>
              <div class="section__info">
                <div class="instructions">
                  <div class="my-course-card__subtitle text-menu">
                    <p>Descripció</p>
                  </div>
                  <div class="my-course-card__text richtext">
                    <p>{{ enrollment.activity.instructions|safe }}</p>
                  </div>
                </div>

                {% if enrollment.activity.resources.all %}
                <div class="material">
                  <div class="my-course-card__subtitle text-menu">
                    <p>Material formatiu</p>
                  </div>
                  {% for resource in enrollment.activity.resources.all %}
                    <a href="{{ resource.image.url }}" target="_blank">
                      <div class="section__material text-sm">
                        <span>🍭</span>
                        <p>{{ resource.name }}</p>
                      </div>
                    </a>
                  {% endfor %}
                </div>
                {% endif %}

                {% if enrollment.activity.poll_access_allowed %}
                <div class="poll">
                  <a href="{% url 'activity_poll' uuid=enrollment.activity.uuid %}">
                    <div class="btn btn--primary btn__text">
                      <p>Anar a l'enquesta</p>
                    </div>
                  </a>
                </div>
                {% endif %}

              </div>
            </div>
            {% endif %}

            <div class="my-course-card__btn">
              <div 
                class="btn btn--second btn__text"
                onclick="showDeleteModal(event)"
              >
                <p>Eliminar inscripció</p>
              </div>
            </div>
          </div>
        {% endfor %}

      {% endif %}
  </section>

  {% if waiting_list_activities %}
  <section class="courses-list__grid">
    <div class="courses-list__subtitle text-md">
      <p>Ets en llista d'espera per les següents activitats:</p>
    </div>
  </section>
  {% endif %}

  {% if past_enrolled_activities.count %}
  <section class="courses-list__grid">
    <div class="courses-list__subtitle text-md">
      <p>Activitats a les que has assistit anteriorment:</p>
    </div>
  </section>
  {% endif %}
</div>
{% endblock %}

{% block extra_js %}
	<script src="{% static 'js/course.js' %}"></script>
{% endblock %}