{% extends "generic.html" %}

{% block generic %}
<div class="login login-page">
  <div class="login__background"></div>
  <div class="login__card card">
    <div class="card__title text-md is-bold">
      <p>Accedeix al teu compte</p>
    </div>
    <div class="login__form form">
      <form method="post" action="{% url 'login_post' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}">
        {% csrf_token %}
        <li class="field"><label for="id_username">Correu electrònic</label> <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="254" required="" id="id_username"></li>
        <li class="field"><label for="id_password">Contrasenya</label> <input type="password" name="password" autocomplete="current-password" required="" id="id_password"></li>
        <li class="field-checkbox"><label for="id_remember_me">Mantenir la sessió oberta</label> <input type="checkbox" name="remember_me" id="id_remember_me"></li>
        <a href="{% url 'password_reset' %}">
          <div class="form__remember">
            Has oblidat la contrasenya?
          </div>
        </a>
        <input class="form__submit btn btn--second btn__text" type="submit" value="Accedir" />
        <input type="hidden" name="next" value="{{ next }}" />
        {% if form.errors %}
        <div class="login__error text-sm">
            <p>Usuari i/o contrasenya incorrectes. Si us plau torna-ho a intentar.</p>
        </div>
        {% endif %}
      </form>
    </div>
    <div class="login__signup">
      <div class="login__signup-text text-menu">
        <p>Ets nou?</p>
      </div>
      <div class="login__signup-btn">
        <a href="{% url 'loginsignup' %}">
          <div class="btn btn--primary">
            <div class="btn__text">
              Crear un compte
            </div>
          </div>
        </a>
      </div>
    </div>
    </div>
</div>
{% endblock %}

