{% extends "generic.html" %}

{% block generic %}
  <div class="modal-page password-reset">
    <div class="modal-page__background"></div>
    <div class="modal-page__card card">
      <div class="card__title title-1 is-bold">
        <h1>S'ha modificat la contrasenya.</h1>
      </div>
      <div class="card__subtitle text-md">
        <p>La teva nova contrasenya s'ha guardat correctament. Ara ja pots tornar a fer login amb les teves noves credencials.</p>
      </div>
      <a href="{% url 'home' %}">
        <div class="btn btn--second">
          <div class="btn__text">
            <p>Tornar a l'inici</p>
          </div>
        </div>
      </a>
    </div>
  </div>
{% endblock %}