{% extends "generic.html" %}

{% block generic %}
<div class="modal-page password-reset">
  <div class="modal-page__background"></div>
  <div class="modal-page__card card">
    <div class="card__title title-1 is-bold">
      <h1>Reinicialitza la teva contrasenya</h1>
    </div>
    <div class="card__subtitle text-md">
      <p>
        Facilita el teu correu electrònic i rebràs un e-mail amb un enllaç per reiniciar la teva contrasenya.
      </p>
    </div>
    <div class="modal-page__form form">
      {% if password_reset.errors %}
      <div class="form__error">
          {{ form.email.errors }}
      </div>
      {% endif %}
      <form method="post" action="">
        {% csrf_token %}
        <li class="field">
          <label for="id_email">Correu electrònic</label>
          <input type="text" name="email" id="id_emal">
        </li>
        <input class="form__submit btn btn--second btn__text" type="submit" value="Reiniciar contrasenya" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>
</div>
{% endblock %}