{% extends "generic.html" %}

{% block generic %}
<div class="modal-page password-reset">
  <div class="modal-page__background"></div>
  <div class="modal-page__card card">
		{% if validlink %}
    <div class="card__title text-md is-bold">
    	<h1>Reinici de contrasenya</h1>
    </div>
    <div class="card__subtitle text-sm">
			<p>Escriu (i confirma) la teva nova contrasenya.</p>
  	</div>
    <div class="modal-page__form form">
      <form method="post" action="">
        {% csrf_token %}
        <li class="field {% if form.errors %}field-error{% endif %}">
          <label for="id_new_password1">Nova contrasenya</label>
					{{ form.new_password1 }}
          {% if form.errors %}
					{{ form.new_password1.errors }}
          {% endif %}
        </li>
        <li class="field {% if form.errors %}field-error{% endif %}">
          <label for="id_new_password2">Confirma la contrasenya</label>
					{{ form.new_password2 }}
					{% if form.errors %}
					{{ form.new_password2.errors }}
          {% endif %}
        </li>
        <input class="form__submit btn btn--second btn__text" type="submit" value="Canviar la contrasenya" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
		{% else %}
			<div class="card__title title-1 is-bold">
				<h1>El reinici de contrasenya ha fallat</h1>
			</div>
			<div class="card__subtitle text-md">
				<p>L'enllaç per reiniciar la contrasenya era invàlid, possiblement perquè ja s'hagi fet servir. Si us plau sol·licita de nou el reinici de la contrasenya.</p>
			</div>
		{% endif %}
  </div>
</div>
     <div class="generated-form">
        <form action="" method="post">
        {% csrf_token %}
            <table>

            </table>
        </form>
     </div>
{% endblock %}