{% extends "generic.html" %}

{% block generic %}
  <p style="text-align: center;">p>
    <div class="modal-page password-reset">
      <div class="modal-page__background"></div>
      <div class="modal-page__card card">
        <div class="card__title title-1 is-bold">
          <h1>Reinicialitza la teva contrasenya</h1>
        </div>
        <div class="card__subtitle text-md">
          <p>
            T'hem enviat instruccions per establir una nova contrasenya. Si d'aquí uns minuts no ho has rebut, comprova la teva carpeta de correu brossa.
          </p>
        </div>
        <a href="{% url 'home' %}">
          <div class="btn btn--second">
            <div class="btn__text">
              <p>Tornar a l'inici</p>
            </div>
          </div>
        </a>
      </div>
    </div>
{% endblock %}