{% extends "base.html" %}
{% load static %}

{% block content %}
{% include '../components/header_topbar.html' %}
<div class="profile {% if not user.is_authenticated %}not-logged{% endif %}">
	<section class="profile__submenu grid-content">
		<div class="profile__submenu grid-item-full">
			<div class="submenu">
				<a href="{% url 'home' %}">
					<div class="submenu__item">
						<p>Tauler d'inici</p>
					</div>
				</a>
				<a href="{% url 'user_profile' %}">
					<div class="submenu__item is-active">
						<p>Les meves dades</p>
					</div>
				</a>
			</div>
		</div>

	</section>
	<section class="profile__intro grid-content">
		<div class="profile__title grid-item-wide">
			<p>Marta Ricart Fincias</p>
		</div>
		<div class="profile__info grid-item-wide text-md">
			<p>46873657M</p>
			<p>marta@codi.coop</p>
			<p>Mataró</p>
		</div>
	</section>
	<section class="profile__form grid-content">
		<div class="form grid-item-wide">
            {{ form.as_ul }}
			<div class="form__submit">
				<button type="submit" class="btn btn--second">
					<p class="btn__text">
						Guardar canvis
					</p>
				</button>
			</div>
		</div>
	</section>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/form.js' %}"></script>
{% endblock %}


<div class="generated-form">
    {% if form.errors %}
    <div class="message-container">
        <p class="error-message">No s'ha pogut completar el registre, si us plau, revisa els errors del
            formulari.</p>
    </div>
    {% endif %}
    {% if messages %}
    <ul class="message-container">
       {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}-message"{% endif %}>{{ message }}</li>
       {% endfor %}
    </ul>
    {% endif %}
    <h1>Gestió del teu compte</h1>
    <form method="post" action="{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}">
       {% csrf_token %}
       {{ form.as_p }}
        <p>Contrasenya:</p>
        <p>Accedeix <a href="{% url 'password_change' %}">aquí</a> per modificar la contrasenya.</p>
    <button type="submit">Guardar els canvis</button>
    </form>
</div>

{% include 'components/town_district_validation_js.html' %}

