@charset "UTF-8";
button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input {
  display: inline-block;
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

p + p {
  margin-top: 1em;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --black: #000;
  --grey: #707070;
  --grey-light: #D3BFC6;
  --white: #fff;
  --red: #FF0000;
  --orange: #E99401;
  --yellow: #F6BF00;
  --violet: #A77F8D;
  --primary-lightest: #FFC5D9;
  --primary-light: #FE8CB3;
  --primary: #D6085B;
  --primary-med: #720027;
  --primary-dark: #51001C;
  --second-3: #EAF3FB;
  --second-2: #C7E3FB;
  --second-1: #A0EDF9;
  --second-lighter: #8ECAFD;
  --second-light: #1E96FC;
  --second: #146CD7;
  --second-med: #08259B;
  --second-dark: #00132B;
  --br: 8px;
  --pad-base: 16px;
  --pad-3: calc(var(--pad-base) / 3);
  --pad-2: calc(var(--pad-base) / 2);
  --pad1: var(--pad-base);
  --pad1-5: calc(var(--pad-base) * 1.5);
  --pad2: calc(var(--pad-base) * 2);
  --pad3: calc(var(--pad-base) * 3);
  --pad4: calc(var(--pad-base) * 4);
  --pad4-5: calc(var(--pad-base) * 4.5);
  --pad5: calc(var(--pad-base) * 5);
  --pad6: calc(var(--pad-base) * 6);
  --pad7: calc(var(--pad-base) * 7);
  --pad8: calc(var(--pad-base) * 8);
  --pad9: calc(var(--pad-base) * 9);
  --pad10: calc(var(--pad-base) * 10);
  --pad11: calc(var(--pad-base) * 11);
  --pad12: calc(var(--pad-base) * 12);
  --pad20: calc(var(--pad-base) * 20);
}
:root .is-hidden {
  display: none;
}

body,
.text-sm {
  --font-size: 12px;
  --line-height: 16px;
}

.text-md {
  --font-size: 16px;
  --line-height: 20px;
}

.title-1 {
  --font-size: 20px;
  --line-height: 24px;
}

@media (min-width: 900px) {
  body,
.text-sm {
    --font-size: 14px;
    --line-height: 18px;
  }

  .text-md {
    --font-size: 18px;
    --line-height: 24px;
  }

  .title-1 {
    --font-size: 28px;
    --line-height: 32px;
  }
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--blackish);
}

body,
.text-sm {
  font-weight: 300;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--primary-dark);
}

.text-md {
  font-weight: 300;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--primary-dark);
}

.text-menu {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
}

.text-submenu {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: var(--primary);
  text-transform: uppercase;
}

.text-btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
}

.title-1 {
  font-weight: 300;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.is-bold {
  font-weight: 700;
}

.not-bold {
  font-weight: 300;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.grid-base {
  display: flex;
  flex-direction: column;
}
.grid-base__main {
  margin-top: 88px;
}

.grid-item-full {
  grid-column: 1/-1;
}

.grid-item-span-3 {
  grid-column: span 3;
}

.grid-item-1-3 {
  grid-column: 1/span 3;
}

.grid-item-4-6 {
  grid-column: 4/span 3;
}

.grid-item-span-2 {
  grid-column: span 2;
}

.grid-item-1-2 {
  grid-column: 1/span 2;
}

.grid-item-3-4 {
  grid-column: 3/span 2;
}

.grid-item-5-6 {
  grid-column: 5/span 2;
}

@media (min-width: 900px) {
  .grid-base {
    display: grid;
    grid-template-columns: var(--pad8) 1fr;
  }
  .grid-base__side {
    grid-column: 1;
  }
  .grid-base__main {
    grid-column: 2;
    display: flex;
    flex-direction: column;
  }

  .grid-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0 var(--pad1);
    padding: 0 var(--pad4-5);
  }
}
.btn {
  --width: 100%;
}

@media (min-width: 900px) {
  .btn {
    --width: auto;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--width);
  padding: var(--pad1) var(--pad2);
  border-radius: var(--br);
}
.btn.btn--second {
  background-color: var(--second);
  color: var(--white);
}
.btn.btn--white {
  background-color: var(--white);
  color: var(--second);
}
.btn.btn--primary {
  background-color: var(--primary);
  color: var(--white);
}
.btn.btn--empty {
  background-color: transparent;
}
.btn__text {
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

.logo--bg {
  --height: 50px;
}

.logo--sm {
  --height: 33px;
}

@media (min-width: 1024px) {
  .logo--bg {
    --height: 75px;
  }

  .logo--sm {
    --height: 50px;
  }
}
.logo--bg {
  height: var(--height);
  width: auto;
}

.logo--sm {
  height: var(--height);
  width: auto;
}

.richtext a {
  font-weight: bold;
  color: var(--brown);
}

.richtext b {
  font-weight: bold;
}

.richtext i {
  font-style: italic;
}

.richtext p + p {
  padding-top: 1em;
}

.field {
  width: 100%;
}
.field.is-disabled .field__input {
  cursor: not-allowed;
}
.field.error input {
  border: var(--b-thin-error);
}
.field label {
  color: var(--black);
}
.field label span {
  color: var(--primary);
  font-size: 13px;
  font-weight: bold;
}
.field input {
  height: 36px;
  width: 100%;
  padding: 0 var(--padding-sm);
  margin-top: var(--padding-xxsm);
  margin-bottom: var(--padding-xsm);
  background-color: var(--white);
  border: var(--b-thin-dark);
  text-align: left;
  color: var(--grey);
}
.field input.is-disabled, .field inputdisabled {
  background-color: var(--grey);
  cursor: not-allowed;
}
.field::placeholder {
  font-size: 13px;
  line-height: 16px;
  color: var(--grey);
  opacity: 1;
}
.field__error {
  display: block;
  color: var(--red);
  margin-bottom: -5px;
}
.field__helptext {
  margin-top: -7px;
  margin-bottom: 14px;
}

.field-checkbox {
  position: relative;
  max-width: 400px;
  margin: 4px 0 12px 0;
  cursor: pointer;
}
.field-checkbox label {
  width: 100%;
  padding-left: 24px;
  cursor: pointer;
}
.field-checkbox label a {
  font-style: italic;
}
.field-checkbox input:checked ~ .field-checkbox__custom::before {
  content: "✔";
  font-size: 16px;
}
.field-checkbox__custom::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #bbb;
  background-color: var(--white);
  pointer-events: none;
}
.field-checkbox__error {
  position: absolute;
  top: -10px;
  left: 23px;
  color: var(--red);
  pointer-events: none;
}

.field___label--not-bold label {
  font-weight: normal;
}

.container {
  position: relative;
  min-height: 88px;
  width: 100%;
  padding: var(--padding-xsm);
  border: 3px solid var(--grey-dark);
  overflow: hidden;
}
.container p:nth-child(1) {
  margin-top: 0;
}
.container.container--icon {
  display: grid;
  grid-template-columns: 1fr 50px;
}
.container.container--icon-date {
  display: grid;
  grid-template-columns: 1fr 133px;
}
.container.container--narrow {
  min-height: 0;
  align-items: center;
}
.container.container--narrow .title-2 {
  text-transform: none;
}
.container.container--narrow .container__icon {
  padding-top: 0;
}
.container.container--solid {
  background-color: var(--grey-dark);
  color: var(--white);
}
.container.container--solid .title-2, .container.container--solid .title-3, .container.container--solid .title-4,
.container.container--solid .ant-typography {
  color: var(--white);
}
.container.container--extra-pad {
  padding: var(--padding-md) var(--padding-md) var(--padding-sm) var(--padding-md);
}
.container.container--form-pad {
  padding: var(--padding-sm) var(--padding-md) var(--padding-sm) var(--padding-sm);
}
.container__icon {
  grid-column: 2;
  align-self: end;
  justify-self: end;
  padding-left: var(--padding-xsm);
  padding-top: var(--padding-xsm);
  cursor: pointer;
}
.container__icon-download {
  grid-row: 1;
  grid-column: 2;
  align-self: start;
  justify-self: end;
  cursor: pointer;
}
.container__data {
  grid-column: 1;
  margin-top: var(--padding-xsm);
}
.container__data.viewlist {
  padding-bottom: 0;
}
.container div.container__data.ant-typography {
  margin-bottom: 0;
}
.container__data-list {
  grid-column: 1;
  margin-top: var(--padding-xsm);
  font-weight: 600;
  margin-bottom: var(--padding-xlg);
}
.container__data-list li {
  position: relative;
  margin-top: var(--padding-sm);
  padding-left: var(--padding-lg);
  font-weight: 300;
}
.container__data-list li::before {
  content: "·";
  position: absolute;
  left: 10px;
  top: 0;
  font-size: 18px;
  font-weight: 900;
  padding-right: var(--padding-xxsm);
}
.container + .container {
  margin-top: var(--padding-xsm);
}

.icon-pathfill-grey {
  fill: none;
}
.icon-pathfill-grey path {
  fill: var(--grey-dark);
}

.icon-pathfill-white {
  fill: none;
}
.icon-pathfill-white path {
  fill: var(--white);
}

.icon-pathstroke-grey {
  fill: none;
}
.icon-pathstroke-grey path {
  stroke: var(--grey-dark);
  stroke-width: 3;
  stroke-linecap: square;
  stroke-linejoin: round;
}

.icon-close-grey {
  fill: none;
}
.icon-close-grey path {
  stroke: var(--grey-dark);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.icon-close-grey rect {
  fill: var(--grey-dark);
}

.icon-help-grey {
  fill: none;
}
.icon-help-grey path:nth-child(1) {
  stroke: var(--grey-dark);
  stroke-width: 2;
}
.icon-help-grey path:nth-child(2) {
  stroke: var(--grey-dark);
  stroke-width: 2;
  stroke-linecap: round;
}

.icon-download {
  width: 20px;
  height: 15px;
}

.icon-16 {
  width: 16px;
  height: 16px;
}

.icon-24 {
  width: 24px;
  height: 24px;
}

.icon-36 {
  width: 36px;
  height: 36px;
}

.link {
  font-weight: 700;
  cursor: pointer;
}

a {
  cursor: pointer;
}

.sidebar {
  --bottom-sidebar: auto;
  --right-sidebar: 0;
  --flex-direction-sidebar: row;
}
.sidebar__topbar {
  --display-topbar: flex;
}
.sidebar .burguer {
  --display: block;
}
.sidebar .close, .sidebar__menu {
  --display: none;
}
.sidebar__middle, .sidebar__logout {
  --display: none;
}
.sidebar.menu-is-open {
  --flex-direction-sidebar: column;
}
.sidebar.menu-is-open .burguer {
  --display: none;
}
.sidebar.menu-is-open .close,
.sidebar.menu-is-open .sidebar__menu {
  --display: block;
}
.sidebar.menu-is-open .menu .is-active {
  --background-color: var(--second);
}

.menu {
  --display-menu: grid;
  --width-menu: 100%;
}
.menu .is-active {
  --background-color: var(--second-med);
}
.menu__item {
  --padding: var(--pad4-5) 0;
  --height: auto;
}
.menu__home {
  --display: none;
}

@media (min-width: 900px) {
  .sidebar {
    --bottom-sidebar: 0;
    --right-sidebar: auto;
    --flex-direction-sidebar: column;
  }
  .sidebar__topbar {
    --display-topbar: none;
  }
  .sidebar__middle, .sidebar__logout {
    --display: flex;
  }

  .menu {
    --display-menu: flex;
    --width-menu: var(--pad8);
  }
  .menu__item {
    --padding: var(--pad2) 0;
    --height: 128px;
  }
  .menu__home {
    --display: flex;
  }
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: var(--bottom-sidebar);
  right: var(--right-sidebar);
  display: flex;
  flex-direction: var(--flex-direction-sidebar);
  justify-content: flex-start;
  background-color: var(--second);
  z-index: 200;
}
.sidebar__topbar {
  display: var(--display-topbar);
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.sidebar__topbar .topbar__home div {
  padding: var(--pad1);
}
.sidebar__topbar .topbar__middle {
  display: flex;
  flex-direction: column;
}
.sidebar__topbar .topbar__action {
  margin: var(--pad1);
  padding: var(--pad1);
  cursor: pointer;
}
.sidebar__topbar .topbar__action div {
  display: var(--display);
  width: var(--pad1-5);
  height: var(--pad1-5);
  border: 1px solid white;
}
.sidebar__menu {
  display: var(--display);
}
.sidebar__middle {
  display: var(--display);
  justify-content: center;
  align-items: center;
  writing-mode: sideways-lr;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: var(--second-light);
}
.sidebar__logout {
  display: var(--display);
}
.sidebar__logout .menu__item::before {
  content: "";
  position: absolute;
  top: -2px;
  width: 75%;
  height: 2px;
  background-color: var(--second-light);
  z-index: 1;
}

.menu {
  position: relative;
  display: var(--display-menu);
  flex-direction: var(--flex-direction-sidebar);
  grid-template-columns: 1fr 1fr;
  width: var(--width-menu);
}
.menu li {
  position: relative;
  border-top: 2px solid var(--second-light);
}
.menu li:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 23px;
  width: 2px;
  height: 75%;
  background-color: var(--second-light);
  z-index: 1;
}
.menu li:nth-child(5)::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 2px;
  height: 75%;
  background-color: var(--second-light);
  z-index: 1;
}
.menu__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--pad1);
  padding: var(--padding);
  height: var(--height);
  background-color: var(--second);
  color: var(--white);
}
.menu__item.is-active {
  background-color: var(--background-color);
}
.menu__item.is-disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: var(--grey-light);
}
.menu__item.menu__item--narrow {
  padding: var(--pad2);
}
.menu__item.menu__item--narrow::after {
  background-color: transparent;
}
.menu__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--pad1-5);
  height: var(--pad1-5);
  border: 1px solid white;
}
.menu__user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid white;
  border-radius: 50%;
  overflow: clip;
}
.menu__home {
  display: var(--display);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--pad1);
  padding: 0 var(--pad4-5);
  margin-top: auto;
  background-color: var(--primary);
  color: var(--white);
}
.footer__author {
  display: flex;
  flex-direction: column;
  gap: var(--pad2);
  width: var(--pad12);
  font-size: 12px;
  line-height: 16px;
}
.footer__author-links {
  display: flex;
  gap: var(--pad1);
  text-transform: uppercase;
}
.footer__logo {
  padding: var(--pad5) 0;
}
.footer__logo img {
  width: auto;
  max-height: 40px;
}

.form--flex {
  display: flex;
  flex-direction: column;
}

.form form {
  display: flex;
  flex-direction: column;
}
.form__title {
  padding-bottom: var(--padding-sm);
}
.form__intro {
  padding-bottom: var(--padding-xsm);
}
.form__outro {
  padding: var(--padding-xsm) 0;
}
.form__error {
  grid-column: 1/-1;
  padding-bottom: var(--padding-xsm);
  padding-top: var(--padding-sm);
  color: var(--red);
}
.form__submit {
  align-self: flex-end;
}

.form-inline-fields {
  display: flex;
  gap: var(--padding-xsm);
}
.form-inline-fields .ant-row {
  width: 48%;
}

.field--error .ant-input,
.field--error .ant-input-affix-wrapper {
  border-color: var(--red-error);
}
.field--error .ant-form-item-explain {
  color: var(--red-error);
}

.home .welcome__content {
  --flex-direction: column;
  --justify-content: center;
  --align-items: center;
  --padding: var(--pad2) var(--pad1);
  --height: 450px;
}
.home .welcome__content .welcome__logo {
  --display: block;
  --width: var(--pad9) ;
}
.home .welcome__content .welcome__btns {
  --display: none;
}
.home .welcome__content.is-logged {
  --justify-content: flex-start;
  --align-items: center;
  --padding: var(--pad1);
  --height: auto;
}
.home .welcome__content.is-logged .welcome__logo {
  --display: none;
}
.home .welcome__content.is-logged .title-1 {
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: 900px) {
  .home .welcome__content {
    --flex-direction: row;
    --justify-content: center;
    --align-items: center;
    --padding: 0;
    --height: 100vh;
  }
  .home .welcome__content .welcome__logo {
    --display: block;
    --width: var(--pad9);
  }
  .home .welcome__content .welcome__btns {
    --display: flex;
  }
  .home .welcome__content.is-logged {
    --justify-content: space-between;
    --align-items: flex-start;
    --padding: var(--pad2) 0;
    --height: var(--pad8);
  }
  .home .welcome__content.is-logged .welcome__logo {
    --display: block;
    --width: var(--pad5);
  }
  .home .welcome__content.is-logged .title-1 {
    font-size: 16px;
  }
}
.home__welcome {
  position: relative;
  background-color: var(--primary);
}
.home__intro {
  background-color: var(--second-3);
}
.home .welcome__topbar {
  grid-column: 1/span 6;
  grid-row: 1;
}
.home .welcome__content {
  grid-column: 1/span 6;
  grid-row: 1/span 2;
  display: flex;
  flex-direction: var(--flex-direction);
  justify-content: var(--justify-content);
  align-items: var(--align-items);
  height: var(--height);
  padding: var(--padding);
  color: var(--white);
}
.home .welcome__logo {
  display: var(--display);
  width: var(--width);
  height: auto;
}
.home .welcome__text {
  width: var(--pad20);
  height: auto;
}
.home .welcome__btns {
  display: var(--display);
  margin-top: -12px;
  color: var(--second-3);
}
.home .topbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: fit-content;
  padding: var(--pad2) 0;
  color: var(--white);
  z-index: 1;
}
.home .topbar__left {
  display: flex;
  gap: 0 var(--pad1-5);
}
.home .topbar__left .btn {
  margin-top: calc(var(--pad1) * -1);
}
.home .topbar__right {
  display: flex;
  gap: 0 var(--pad1);
}
.home .intro {
  color: var(--primary);
  border-bottom: 1px solid var(--primary-lightest);
}
.home .intro__title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: var(--pad4);
  padding-bottom: var(--pad8);
  border-bottom: 1px solid var(--primary-lightest);
}
.home .intro__bloc {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: var(--pad1);
  padding-bottom: var(--pad6);
}
.home .intro__bloc + .intro__bloc {
  padding-left: var(--pad2);
}
.home .intro__bloc + .intro__bloc::before {
  content: "";
  position: absolute;
  left: 0;
  height: 80%;
  width: 1px;
  background-color: var(--primary-lightest);
}
.home .intro__bloc-title {
  padding-bottom: var(--pad4);
}
.home .intro__bloc-text {
  padding-bottom: var(--pad6);
}
.home .intro__bloc-btn {
  align-self: center;
}
.home .outro {
  padding-top: var(--pad8);
  padding-bottom: var(--pad9);
}
.home .outro__item {
  display: flex;
  flex-direction: column;
}
.home .outro__text {
  color: var(--primary-dark);
}
.home .outro__btn {
  align-self: center;
  padding-top: var(--pad4);
}
.home .login {
  position: absolute;
  right: 50px;
  top: 100px;
  border: 1px solid hsla(0deg, 0%, 100%, 0.3);
  padding: 10px;
  color: white;
}
.home .login form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.home .login .btn {
  align-self: flex-end;
  text-transform: uppercase;
}

/*# sourceMappingURL=styles.css.map */
