{% load static my_tag_library %}
<!-- Duplicat a l'app coopolis -->
<section class="header-topbar grid-content">
  <div class="header-topbar__logo">
    <img src="{% external_static "/logo.png" %}" alt="Logo de l'Ateneu Cooperatiu">
  </div>
  <div class="header-topbar__text">
    <div class="title-1 is-bold">
      <p>{{ PROJECT_NAME }}</p>
    </div>
    <div class="title-1">
      <p>Plataforma de gestió de projectes i inscripcions</p>
    </div>
  </div>
  <div class="header-topbar__links">
    <a href="{{ config.PROJECT_WEBSITE_URL }}" class="text-menu">
      <div class="btn btn--empty">
        <p>Web</p>
      </div>
    </a>
    <a href="{{ config.PROJECT_CONTACT_URL }}" class="text-menu">
      <div class="btn btn--empty">
        <p>Contacte</p>
      </div>
    </a>
  </div>
</section>