{% extends "base.html" %}
{% load static %}

{% block home_is_active %}is-active{% endblock %}
{% block enrollments_is_active %}{% endblock %}
{% block projects_is_active %}{% endblock %}

{% block content %}
{% include '../components/header_topbar.html' %}
<div class="signup {% if not user.is_authenticated %}not-logged{% endif %}">
	<section class="signup__welcome grid-content">
		<div class="title-1 grid-item-wide">
			<p>Per a inscriure't a les activitats o sol·licitar acompanyament per al teu projecte, crea un compte amb els formularis que hi ha a continuació.</p>
		</div>
	</section>
	<section class="signup__form form">
		<form
				class="grid-content"
				method="post"
				id="signup_form"
				action="{% url 'signup_post' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}"
		>
			{% csrf_token %}
			{{ signup_form.as_fieldsets|safe }}
			<!-- {# if form.errors #}
			<div class="form__error text-sm">
				<p>Si us plau revisa els errors del formulari.</p>
			</div>
			{# endif #} -->
			</form>
			<div class="form__submit grid-content">
				<div class="form__text grid-item-3-4">
					<p>Consulta el
						<a href="{{ config.PROJECT_LEGAL_URL }}" target="_blank" class="is-bold">text complet</a>
						de l'avís legal i de protecció de dades.
					</p>
				</div>
				<input form="signup_form" type="submit" class="btn btn--second btn__text grid-item-3-4" value="Crear compte" />
				<input type="hidden" name="next" value="{{ next }}" />
			</div>
	</section>
</div>
{% endblock %}
