// Dynamic variables
.footer {
  --flex-direction-footer: column;
  --padding-footer: var(--pad1);
  --align-items: flex-start;

  &__author {
    --padding-bottom: var(--pad4);
  }
  &__author-text {
    --grid-colum: 1;
  }
  &__author-links {
    --grid-colum: 2;
    --justify-self: end;
  }
  &__logo-container {
    --border-top: 1px solid var(--white);
    --padding-top: var(--pad1);
  }
}

@media (min-width: 900px) {
  .footer {
    --flex-direction-footer: row;
    --padding-footer: var(--pad4) var(--pad4-5) var(--pad2) var(--pad4-5);
    --align-items: center;

    &__author {
      --padding-bottom: 0;
    }
    &__author-text {
      --grid-colum: 1 / span 2;
    }
    &__author-links {
      --grid-colum: 1 / span 2;
      --justify-self: start;
    }
    &__logo-container {
      --border-top: none;
      --padding-top: 0;
    }
  }
}

// Layout
.footer {
  display: flex;
  flex-direction: var(--flex-direction-footer);
  justify-content: space-between;
  align-items: var(--align-items);
  gap: var(--pad1);
  padding: var(--padding-footer);
  margin-top: auto;
  background-color: var(--primary);
  color: var(--white);
  
  &__author {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--pad2);
    padding-bottom: var(--padding-bottom);
    font-size: 12px;
    line-height: 16px;

    &-text {
      grid-column: var(--grid-colum);
    }
    &-links {
      grid-column: var(--grid-colum);
      justify-self: var(--justify-self);
      display: flex;
      flex-direction: var(--flex-direction-footer);
      gap: var(--pad1);
      text-transform: uppercase;
    }
  }
  &__logo-container {
    align-self: start;
    padding-top: var(--padding-top);
    border-top: var(--border-top);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--pad1);
    width: 100%;
  }
  &__logo {
    img {
      width: auto;
      max-height: 40px;
    }
  }
}