// Dynamic variables
.footer {

}

@media (min-width: 900px) {
  .footer {
  }
}

// Layout
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--pad1);
  padding: 0 var(--pad4-5);
  background-color: var(--primary);
  color: var(--white);
  
  &__author {
    display: flex;
    flex-direction: column;
    gap: var(--pad2);
    width: var(--pad12);
    font-size: 12px;
    line-height: 16px;

    &-links {
      display: flex;
      gap: var(--pad1);
      text-transform: uppercase;
    }
  }
  &__logo {
    padding: var(--pad5) 0;

    img {
      width: auto;
      max-height: 40px;
    }
  }
}