// Dynamic variables
.form {
  --display: block;
  
  &__submit {
    --margin: var(--pad2) 0;
  }
}
.signup {
  .form__submit {
    --margin: var(--pad4) 0;
  }
}
.login {
  .form__submit {
    --margin: var(--pad1) 0 0 0;
  }
}

@media (min-width: 900px) {
  .signup {
    .form {
      --display: grid;
    }
  }
  .project {
    .form {
      --display: grid;
    }
  }
  .form {
    form {
      --display-form: flex;
    }
    &__submit {
      --margin: var(--pad4) 0;
    }
  }
  .signup {
    .form__submit {
      --margin: var(--pad6) 0;
    }
  }
}

// Layout
.form {
  display: var(--display);
  grid-template-columns: 50% 50%;
  gap: 0 var(--pad1);
  
  form {
    display: var(--display-form);
    grid-template-columns: 50% 50%;
    gap: 0 var(--pad1);
    flex-direction: column;
  }

  // Non-field error
  &__error {
    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;
    gap: var(--pad1);
    padding-bottom: var(--pad-2);
    padding-top: var(--pad1);
    color: var(--error);
    font-weight: bold;
  }
  // The submit button of the form
  &__text {
    a {
      color: var(--second);
    }
  }
  // The submit button of the form
  &__submit {
    align-self: stretch;
    margin: var(--margin);
  }
}