// Dynamic variables

@media (min-width: 900px) {

}

// Layout
.form {
  form {
    display: flex;
    flex-direction: column;
  }

  // Non-field error
  &__error {
    grid-column: 1 / -1;
    padding-bottom: var(--padding-xsm);
    padding-top: var(--padding-sm);
    color: var(--red);
  }
  // The submit button of the form
  &__text {
    a {
      color: var(--second);
    }
  }
  // The submit button of the form
  &__submit {
    margin: var(--pad4) 0;
    align-self: stretch;
  }
}
