// Dynamic variables

@media (min-width: 900px) {

}

// Layout
.form {
  form {
    display: flex;
    flex-direction: column;
  }
  // Estils pels camps automàtics de django
  li {
    list-style: none;
    padding-bottom: var(--pad-2) ;

    label {
      display: block;
      padding-bottom: var(--pad-2);
      font-weight: 700;
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      color: var(--primary);
    }
    input {
      background-color: var(--white);
      padding: var(--pad-2);
      border-radius: var(--br);
      border: 2px solid var(--second-2);
      text-align: left;

      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    }
  }
  // Missatge per seleccionar si volem mantenir la sessió connectada

  // Non-field error
  &__error {
    grid-column: 1 / -1;
    padding-bottom: var(--padding-xsm);
    padding-top: var(--padding-sm);
    color: var(--red);
  }
  // The submit button of the form
  &__submit {
    align-self: stretch;
  }
}
