// Dynamic variables
// .header {
// }

// @media (min-width: 768px) {
//   .header {
// }

// Layout
.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--second);

  // &.header--is-open {
  //   // position: absolute;
  //   // top: 0;
  //   // left: 0;
  //   // right: 0;
  //   height: 100vh;
  //   background-color: var(--white);
  //   padding: var(--padding-sm) 0 0 0;
  //   z-index: 10;

  //   .menu {
  //     padding-left: var(--padding-xlg);
  //     padding-top: var(--padding-lg);
  //   }
  // }
}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: var(--pad8);

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--pad1);
    background-color: var(--second);
    padding: var(--pad2) 0;
    color: var(--white);

    &.is-active {
      background-color: var(--second-med);
    }
    &.is-disabled {
      cursor: not-allowed;
      pointer-events: none;
      background-color: var(--grey-light);
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      width: 75%;
      height: 2px;
      background-color: var(--second-light);
      z-index: 1;
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--pad1-5);
    height: var(--pad1-5);
    border: 1px solid white;
  }
}
