<!DOCTYPE html>
<html lang='en'>
  <head>
  {% load static %}
    <meta charset='utf-8' />

    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css' rel='stylesheet' />
    <link href='https://fonts.googleapis.com/css?family=Comfortaa|Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'styles/calendar.css' %}" type="text/css">

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/locales/ca.js"></script>
    <script>

    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridWeek',
        locale: 'ca',
<!--        plugins: [ 'dayGrid', 'timeGrid' ],-->
        headerToolbar: {
          left: 'dayGridMonth,timeGridWeek',
          center: 'title',
          right: 'prev,next'
        },
        views: {
          timeGrid: {
            // Date Clicking & Selecting:
            selectable: false,
            selectMirror: false,

            // Time Grid:
            allDaySlot: false,
            maxTime: "22:00:00",
            minTime: "08:00:00",
          }
        },

        // Date Clicking & Selecting (this cannot go inside views/timeGrid)
        //select: function(info) {
        //  alert('Periode seleccionat: ' + info.startStr + ' a ' + info.endStr);
        //},

        // Time Grid:
        defaultView: 'timeGridWeek',

        // Date & Time Display:
        weekends: true,

        events: {
          url: '/reservations/ajax/calendar/',
          error: function() {
              alert("No s'han pogut carregar les reserves. Recarrega la pàgina i si d'aquí uns minuts segueix fallant, si us plau avisa'ns.");
          }
        }
      });

      calendar.render();
    });

    </script>
  </head>
  <body>
    <div id="calendar-container">
      {% if rooms %}
      <div id="legend-container">
        {% for room in rooms %}
        <span class="bootstrap-badge" style="background-color:{{ room.color }};">{{ room.name }}</span>
        {% endfor %}
        <span class="bootstrap-badge" style="background-color:{{ legend_activities_outside_color }};">
          Fora de l'ateneu</span>
      </div>
      {% endif %}
      <div id='calendar'></div>
    </div>

  </body>
</html>