// Dynamic variables
.card {
  --space-between-cards: var(--pad-2);
}
.supercard {
  --template-columns: 33px 1fr 100px;

  &__logo {
    --grid-row: 1 / span 2;
    --width: var(--pad2);
    --height: var(--pad2);
  }
  &__title {
    --align-self: start;
  }
  &__edit {
    --grid-column: 2;
    --align-self: start;
    --justify-self: start;
  }
}

@media (min-width: 900px) {
  .card {
    --space-between-cards: var(--pad1);
  }
  .supercard {
    --template-columns: 50px 1fr 100px;

    &__logo {
      --grid-row: 1;
      --width: var(--pad3);
      --height: var(--pad3);
    }
    &__title {
      --align-self: center;
    }
    &__edit {
      --grid-column: 3;
      --align-self: center;
      --justify-self: end;
    }
  }
}

.card {
  position: relative;
  background-color: var(--white);
  padding: var(--pad2);
  border-radius: var(--br);
  box-shadow: 3px 3px 10px #FE1A681A;

  &__title {
    grid-column: 1;
    padding-bottom: var(--pad3);
  }
  &__pretitle {
    grid-column: 1;
    padding-bottom: var(--pad-2);
  }
  &__arrow {
    grid-column: 2;
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    background-color: var(--primary-lightest);
    border-radius: 50%;

    svg {
      width: 32px;
      height: auto;
    }
  }
  &__close {
    position: absolute;
    top: var(--pad1);
    right: var(--pad1);
    padding: var(--pad1);
    cursor: pointer;
  
    svg {
      pointer-events: none;
      width: 16px;
      height: 16px;
    }
  }
  & + .card {
    margin-top: var(--space-between-cards);
  }
}

.supercard {
  display: grid;
  grid-template-columns: var(--template-columns);
  gap: 0 var(--pad1);
  align-content: center;
  height: fit-content;
  padding: var(--pad1) var(--pad1) var(--pad2) var(--pad1);
  border-radius: var(--br);
  background-color: var(--primary-lightest);

  .card {
    grid-column: 1 / span 3;
    margin-top: var(--pad1);
  }
  &__logo {
    grid-row: var(--grid-row);
    width: var(--width);
    height: var(--height);
    background-color: var(--primary);
    border-radius: 50%;
    overflow: clip;
  }
  &__title {
    grid-column: 2;
    align-self: var(--align-self);
  }
  &__edit {
    grid-column: var(--grid-column);
    align-self: var(--align-self);
    justify-self: var(--justify-self);
    color: var(--second);
  }
}
