// Dynamic variables
.course-card {
  &__title {
    --padding-bottom: var(--pad2);
  }
  &__btn {
    --margin: var(--pad2) var(--pad1) var(--pad1) var(--pad1);
  }
}

@media (min-width: 900px) {
  .course-card {
    &__title {
      --padding-bottom: var(--pad7);
    }
    &__btn {
      --margin: var(--pad2) 0 0 0;
    }
  }
}

.course-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  max-width: 500px;
  padding: var(--pad1);
  background-color: var(--white);
  border-radius: var(--br);
  box-shadow: 3px 3px 10px #FE1A681A;
  color: var(--primary-dark);
  
  // Exception
  .richtext p + p {
    margin-top: 0;
  }
  
  &__pretitle {
    padding-bottom: var(--pad2);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--yellow);
  }
  &__title {
    padding-bottom: var(--padding-bottom);
  }
  &__text {
    max-height: 50px;
    
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space:nowrap
    }
  }
  &__bloc {
    padding: var(--pad1) 0;
    border-top: 1px solid #d3bfc6;

    &.grid-bloc {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: var(--pad1) 0;

      .course-card__subtitle {
        grid-column: 1 / span 2;
        padding-bottom: var(--pad1);
      }
    }
  }
  &__subtitle {
    color: var(--primary);
    padding-bottom: var(--pad-2);
  }
  &__btn {
    margin: var(--margin);
  }
}

.subbloc {
  margin-right: var(--pad1);
  
  &__title {
    font-weight: bold;
    color: var(--primary);
    text-transform: uppercase;
  }
  // &__subtitle {}
  &__text {
    p, ul {
      display: none;
    }
    p:first-child {
      display: block;
      color: var(--violet-dark);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
