// Dynamic variables
.field-file {
  --align-items: flex-start;
}
@media (min-width: 900px) {
  .field-file {
    --align-items: center;
  }
}

.form {
  // Estils pels camps automàtics de django
  li.field,
  .field {
    position: relative;
    list-style: none;
    padding-bottom: var(--pad-2);
    display: flex;
    flex-direction: column;

    &.required {
      label::after {
        content: "*";
        color: var(--primary);
      }
    }
    label {
      order: 1;
      display: block;
      padding-bottom: var(--pad-2);
      padding-top: var(--pad-3);
      font-weight: 700;
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      color: var(--primary);
    }
    // Variació rosa del camp
    &.field--primary {
      input,
      select,
      textarea {
        border: 3px solid var(--primary-lighter);
      }
    }
    // Camp de text normal
    input,
    select,
    textarea {
      order: 3;
      width: 100%;
      padding: var(--pad-2);
      background-color: var(--white);
      border-radius: var(--br);
      border: 3px solid var(--second-2);
      text-align: left;
      font-size: 14px;

      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
      }
    }
    
    // Errors
    .errorlist {
      order: 2;
      padding-left: var(--pad-2);
      padding-bottom: var(--pad-3);
      color: var(--error);
      font-size: 12px;
      line-height: 16px;
      text-align: right;
      font-weight: bold;
    }

    // Camp upload file
    input[type=file] {
      & ~ .field-file-custom {
        &::after {
          content: "";
          position: absolute;
          right: 2px;
          bottom: 10px;
          display: block;
          height: 40px;
          width: 38px;
          background-color: var(--primary-lightest);
          border-top-right-radius: var(--br) ;
          border-bottom-right-radius: var(--br);
          opacity: 0.25;
        }
      }
    }
  }
}

.form li.field-checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  label {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--pad1);
    align-items: center;
    justify-content: flex-end;
    padding-bottom: var(--pad1);
    padding-left: var(--pad-2);
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: none;
    color: var(--primary-med);
    cursor: pointer;
  }
  input {
    position: relative;
    width: 15px;
    height: 16px;
    padding: 0;
    margin: 6px 0 0 0;
    border: 2px solid var(--second-2);
    border-radius: 3px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 1px;
      left: 1px;
      width: 9px;
      height: 10px;
      border-radius: 2px;
      background-color: var(--white);
    }
  }
  input:checked {
    &::after {
      background-color: var(--second);
    }
  }
  // Cas diferent
  &.field-checkbox--long {
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: center;

    input {
      grid-column: 1;
      grid-row: 1;
    }
    label {
      grid-column: 2;
      grid-row: 1;
      font-weight: bold;
    }
    .helptext {
      grid-column: 2;
      grid-row: 2;
      color: var(--primary-dark);
      padding-top: 0;
      font-weight: 500;
    }
  }
  #id_authorize_communications {
    margin-top: 0;
  }
}

.field-select {
  position: relative;

  select {
    appearance: none;
    padding: var(--pad-2);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-dark);
    
    option {
      color: var(--primary-light);
    }

    &::placeholder {
      color: var(--primary-light);
    }
  }
  &::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 13.1 7.8400002' width='13.1' height='7.8400002'%3E%3Cpolygon points='12.24,13.58 17.5,18.84 22.76,13.58 24.05,14.87 17.5,21.42 10.95,14.87 ' id='polygon2' transform='translate(-10.95,-13.58)' style='fill:%23fe8cb3' /%3E%3C/svg%3E");
    position: absolute;
    right: 14px;
    top: 37px;
  }
}

.helptext {
  order: 4;
  display: inline-block;
  padding-left: var(--pad-2);
  padding-top: var(--pad-3);
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: var(--primary-dark);
  cursor: pointer;
}

.field-textarea {
  textarea {
    font-family: inherit;
    resize: vertical;

    &::placeholder {
      font-family: inherit;
      color: var(--primary-dark);
      opacity: 1;
    }
  }
}

.form li.field-file {
  position: relative;

  .upload-icon::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.000002 15.99'%3E%3Cpath d='m 16.000001,14.66 c -0.02,0.730001 -0.6,1.32 -1.33,1.33 H 1.3299999 C 0.5999999,15.97 0.0099999,15.39 0,14.66 L 6e-7,8.1900007 h 1.33 L 1.3299999,14.66 14.66,14.660001 V 8.1900007 h 1.33 V 14.660001 Z M 11.89,3.8600007 l -0.96,0.96 -2.27,-2.27 V 10.330001 H 7.33 V 2.5999997 l -2.27,2.27 -0.96,-0.96 L 8.01,0 11.880001,3.8700007 Z' style='fill:%23d91d69;' /%3E%3C/svg%3E");
    position: absolute;
    right: 3px;
    top: 28px;
    padding: 11px;
    width: 37px;
    background-color: #fff0f5;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    pointer-events: none;
  }

  // Input file que ja té un document
  &.full {
    display: grid;
    grid-template-columns: 24px 1fr;
    align-items: var(--align-items);
    gap: var(--pad-2);

    // Primera label
    & label:nth-child(1) {
      grid-column: span 2;
      order: unset;
    }
    // Mostra de l'arxiu actual
    a {
      grid-column: span 2;
      order: unset;
      position: relative;
      width: 100%;
      padding: 13px 13px 13px 52px;
      background-color: #efe7f2;
      border-radius: var(--br);
      font-weight: bold;
      color: var(--primary);
      overflow: hidden;
      text-overflow: ellipsis;
      
      &::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 15.54 19.43'%3E%3Cpath d='M 1.46,19.42 C 0.66,19.4 0.02,18.76 0,17.96 V 1.46 C 0.02,0.66 0.66,0.02 1.46,0 h 8.76 l 5.32,5.32 v 12.65 c -0.02,0.8 -0.66,1.44 -1.46,1.46 H 1.46 Z M 9.49,5.97 h 4.59 L 9.49,1.45 Z m -5.64,5.2 h 7.82 V 9.71 H 3.86 v 1.46 z m 0,4.13 h 7.82 V 13.84 H 3.86 v 1.46 z' style='fill:%23d6085b;fill-opacity:1' /%3E%3C/svg%3E");
        position: absolute;
        left: 19px;
        top: 10px;
        pointer-events: none;
      }
    }

    // Input del camp per netejar
    & input:nth-child(3) {
      order: unset;
      grid-column: 1;
      grid-row: 5;
      position: relative;
      width: var(--pad1);
      height: var(--pad1);
      padding: 0;
      border: 2px solid var(--second-2);
      border-radius: 50px;
  
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        left: 2px;
        width: 9px;
        height: 9px;
        border-radius: 20px;
        background-color: var(--white);
      }
      &:checked {
        background-color: var(--second-lighter);
        
        &::after {
          background-color: var(--second);
        }
      }
    }
    // Label del camp per netejar
    & label:nth-child(4) {
      order: unset;
      grid-column: 2;
      grid-row: 5;
      display: inline;
      padding-bottom: 0;
      padding-left: var(--pad-2);
      width: 80%;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      text-transform: none;
      color: var(--primary-dark);
      cursor: pointer;
    }
    & input:nth-child(6) {
      order: unset;
      grid-column: span 2;
    }
  }
}

.form li.field-radio {
  display: grid;
  grid-template-columns: 27% 27% 27%;

  label {
    grid-row: 1;
    grid-column: 1 / span 3;
  }
  span {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: var(--pad-3);

    input {
      width: 16px;
      height: 16px;
      padding: 0;
      margin: 0;
      border: 2px solid var(--second-2);
      border-radius: 50px;
    }
    label {
      color: var(--primary-dark);
      font-size: 14px;
      line-height: 24px;
      font-weight: normal;
      text-transform: none;
    }
  }
}