.icon-pathfill-white {
  fill: none;
  path {
    fill: var(--white);
  }
}
.icon-pathfill-second-3 {
  fill: none;
  path {
    fill: var(--second-3);
  }
}
.icon-pathfill-lilac {
  fill: none;
  path {
    fill: #d3bfc6;
  }
}
.icon-pathfill-primary {
  fill: none;
  path {
    fill: var(--primary);
  }
}