.icon-pathfill-white {
  fill: none;
  path {
    fill: var(--white);
  }
}
.icon-pathfill-second {
  fill: none;
  path {
    fill: var(--second);
  }
}
.icon-pathfill-second-3 {
  fill: none;
  path {
    fill: var(--second-3);
  }
}
.icon-pathfill-lilac {
  fill: none;
  path {
    fill: #d3bfc6;
  }
}
.icon-pathfill-primary {
  fill: none;
  path {
    fill: var(--primary);
  }
}
.icon-pathfill-primary-light {
  fill: none;
  path {
    fill: var(--primary-light);
  }
}

.icon-7 {
  width: 7px;
  height: auto;
}
.icon-16 {
  width: 16px;
  height: auto;
}