// Dynamic variables
.modal {
  &__background {
    --top: 87px;
  }
  &__form,
  .form {
    --display: flex;
    --padding: var(--pad2) var(--pad3) var(--pad2) var(--pad1);
  }
  &__intro {
    --padding: 0 0 var(--pad2) 0;
  }
}

@media (min-width: 900px) {
  .modal {
    &__background {
      --top: 0;
    }
    &__form,
    .form {
      --display: grid;
      --padding: var(--pad2) var(--pad3) var(--pad2) 0;
    }
    &__intro {
      --padding: 0 0 var(--pad2) var(--pad1);
    }
  }
}

// Layout
.modal,
.delete-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--pad2);
  z-index: 100;
  
  &__background {
    position: fixed;
    top: var(--top);
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--violet);
    opacity: 0.80;
  }
  &__card {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 var(--pad2);
    max-width: 600px;
    margin-top: 100px;
    padding: var(--pad1) 0 var(--pad4) 0;
    background-color: var(--white);
    border-radius: var(--br);
    box-shadow: 3px 3px 10px #FE1A681A;
    z-index: 110;
  }
  &__title {
    grid-column: 1 / span 2;
    color: var(--primary);
    padding: 0 var(--pad3) var(--pad2) var(--pad1);
  }
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--pad1);

    &:hover {
      background-color: hsla(208, 87%, 88%, 0.25);
      border-radius: 50%;
    }

    svg {
      width: 12px;
      height: 12px;
      pointer-events: none;
    }
    cursor: pointer;
  }
  &__intro {
    padding: var(--padding);

    .text-md {
      color: var(--primary);
    }
    .text-menu {
      padding-top: var(--pad1);
      padding-bottom: var(--pad-3);
      color: var(--grey);
    }
    .text-sm {
      p + p {
        padding-top: var(--pad-2);
      }
    }
  }
  &__form,
  .form {
    grid-column: 1 / span 2;
    display: var(--display);
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    padding: var(--padding);
    background-color: hsla(208, 87%, 88%, 0.25);

    form {
      justify-content: center;
    }
    li.field {
      height: 100%;
      padding-bottom: 0;
    }
    textarea {
      height: 100%;
    }
  }
  &__message {
    grid-column: 1 / span 2;

    .modal__intro {
      padding-top: var(--pad2);
      background-color: hsla(208, 87%, 88%, 0.25);
    }
  }
  &__submit {
    grid-column: 1 / span 2;
    justify-self: center;
    width: fit-content;
  }
  &__submit1 {
    margin-top: var(--pad3);
  }
  &__submit2 {
    color: var(--second);

    &::before {
      content: "<--";
      padding-right: var(--pad-2);
    }
  }
  // Cas espcial: modal amb course-card dins
  .course-card {
    margin-top: 250px;
    z-index: 110;
  }
}

// Modal delete
.delete-modal {
  .modal__form {
    grid-template-columns: 1fr;
  }
  .modal__intro .text-sm {
    padding-top: var(--pad-2);
  }
}
