// Estils per enllaços
.richtext a {
  font-weight: bold;
  color: var(--brown);
}
// Estils per negretes
.richtext b {
  font-weight: bold;
}
// Estils per cursives
.richtext i {
  font-style: italic;
}
.richtext ol {
  padding: var(--pad-2) var(--pad2);
	list-style: decimal;
}
.richtext ul {
  padding: var(--pad-2) var(--pad2);
	list-style: disc;
}