// Dynamic variables
.session-card {
  --margin-top: var(--pad4);
}

@media (min-width: 900px) {
  .session-card {
    --margin-top: 0;
  }
}

.session-card {
  position: relative;
  padding-left: var(--pad2);
  border-left: 2px solid var(--primary);
  margin-top: var(--margin-top);
  
  &::before {
    content: "";
    position: absolute;
    left: 22px;
    width: 0; 
    height: 0; 
    border-bottom: 10px solid transparent;
    border-right: 10px solid var(--primary); 
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 8px; 
    height: 8px;
    border-radius: 10px;
    background-color: var(--primary);
  }
  
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--pad1);
    background-color: var(--primary);
    border-top-right-radius: var(--br);
    
    .title {
      color: var(--white);
    }
    
    .date {
      color: var(--primary-light);
    }
  }
  &__blocs {
    padding-top: 1px;
    padding-bottom: var(--pad1);
    border-radius: 0 0 var(--br) var(--br);
    background-color: var(--white);
  }
  &__bloc {
    margin: var(--pad1);
    background-color: var(--white);

  }
  &__bloc1 {
    border-bottom: 1px solid var(--grey-light);
  }
}
